[2015-07-03 19:45] hxoliverrumbelow opened #3 "Add Error Handling"
Any uncaught exceptions should be handled gracefully.
Developers should be able to implement their own error reporting mechanisms

[2015-07-03 19:47] hxoliverrumbelow opened #4 "Spread the Joi"
Separate out `jsonApi.Joi` from `jsonApi.js` into its own file and move across the core parameter definitions.

[2015-07-03 19:51] hxoliverrumbelow opened #5 "Enable Authentication"
Allow developers to authenticate every request and either allow it to proceed or block it with a `401 Unauthorized`.

[2015-07-03 19:53] hxoliverrumbelow opened #6 "Separate out postProcessing"
Split the 4x main features of `postProcessing.js` (`sort`, `filter`, `include`, `fields`) out into separate files to improve readability.

[2015-07-03 19:58] hxoliverrumbelow opened #7 "Split up the documentation"
Make a documentation folder, split out the `README.md` into smaller documents and reference each one.

[2015-07-03 20:05] hxoliverrumbelow opened #8 "How should we deal with pagination?"
* How should a data handler communicate to `jsonapi-server` "Here's the first 50 of 100 records"?
* How should we deal with pagination of included resources?
* Should we allow the first XX included resources and drop the rest?
* Should we error on the request if we can't fulfil every requested include?

[2015-07-03 20:11] hxoliverrumbelow opened #9 "Expected behaviour of combining include + filter"
Suppose there are 3x resources, `a`, `b` and `c`:
* `a` has many `b`
* `b` has many `c`

We could query across these resources with a request similar to this:
https://api.example.com/a?include=b.c

Suppose we then add a filter to only include resources of `b` which have property `foo`=`bar`:
https://api.example.com/a?include=b.c&filter[b][foo]=bar

Should the response contain either:
* Every `a` r

[2015-07-06 08:07] hxoliverrumbelow commented on #3
fixed in #10

[2015-07-06 08:07] #3 closed

[2015-07-12 16:35] #6 closed

[2015-07-12 17:07] #4 closed

[2015-07-13 21:55] #7 closed

[2015-09-09 01:05] Artanis opened #15 "Is there a way to add meta information to a Resource Object or an Identifier?"
I need to qualify a relationship with some data, which can be [accomplished with the `meta` object](http://discuss.jsonapi.org/t/metadata-about-relationships/86/2).

However, adding a meta object to an Resource Object Identifier (using the `mockHandlers`'s `examples` option) results in a `ValidationError: "meta" is not allowed`, and the server omits the offending Resource Object. The same error is

[2015-09-12 12:58] hxoliverrumbelow commented on #15
Absolutely, its a straight forward addition. I'll see what I can do this weekend :+1:

[2015-09-12 14:43] hxoliverrumbelow commented on #15
@Artanis does this behave as you'd expect?

[2015-09-13 22:52] Artanis commented on #15
It does.

The only concern I have is that the meta member should be an object, and the pull types it as `Any`.

[2015-09-14 11:37] hxoliverrumbelow commented on #15
Good call. I've also added some changes and test cases for creating and updating both resources and relationships metadata to prove it flows down to the handlers. This allows implementations to either accept changes to metadata, silently ignore invalid properties or respond with errors.

[2015-09-24 12:30] dsole opened #17 "POST and PATCH don't support the required content-type header"
The json:api specifications state that

But the jsonapi-server doesn't work if application/vnd.api+json is used. It works is application/json is used however.

[code]
return status **403 Forbidden**
[code]

With the Content-Type header set to application/json in the request, the request returns the expected **201 Created**.
This undesirable behaviour is being verified by the tests. For example:
[c

[2015-09-24 12:38] hxoliverrumbelow commented on #17
Good call. I'll take a look.

[2015-09-25 07:41] #15 closed

[2015-09-25 09:19] hxoliverrumbelow commented on #17
@dsole How does this PR look to you? #18

[2015-09-25 11:43] #5 closed

[2015-09-26 05:55] dsole commented on #17
works for me ! Thanks.

[2015-09-26 08:44] hxoliverrumbelow commented on #17
:+1:

[2015-09-26 08:44] #17 closed

[2015-10-12 23:33] Artanis opened #24 "CORS is enabled, but URLs in links objects are relative."
If a webpage hosted on one server fetches a resource hosted on another (`jsonapi-`)`server`, all the links are relative. Plugging these links into ajax requests will at best result in 404 errors, since the webpage will use its _own_ full URL to complete `jsonapi-server`'s relative URL.

For example, a webpage at `https://example.com` requests resource `http://jsonapi.server/api/articles` and gets

[2015-10-13 00:26] Artanis commented on #8
`total` (records), `count` (records in page), `page` (current) and `pagecount` (total pages) in the `meta` object. Leave them there for the response, I'm sure someone will find them useful. Have the links generator build pagination links from it.

I'm given to understand that included resources must be linked from a resource in `data`, so if records are omitted from `data` by pagination, any recor

[2015-10-21 10:10] hxoliverrumbelow commented on #24
I think you're right. I'll see what I can do this week :+1:

[2015-11-18 10:20] #24 closed

[2015-11-18 10:22] hxoliverrumbelow opened #42 "Add Debugging Output"
Lets use the `debug` module to make this project easier to work with.

[2015-11-25 12:59] #42 closed

[2015-12-01 17:17] hxoliverrumbelow opened #57 "Implement `jsonapi` top level property"
As per: http://jsonapi.org/format/#document-jsonapi-object jsonapi documents may contain the version of jsonapi in use:
[code]
Lets add this in.

[2015-12-01 17:44] hxoliverrumbelow opened #59 "Build a swanky github.io website"
Via github pages, build a pretty website for this project.

[2015-12-03 20:19] #57 closed

[2015-12-04 18:01] hxoliverrumbelow commented on #9
This implementation should be "dumb" - give the user exactly what they ask for. Every `a` resource.

[2015-12-04 18:01] #9 closed

[2015-12-04 18:05] hxoliverrumbelow opened #61 "Improve the efficiency of complex inclusions"
Right now, an inclusion such as:

http://localhost:16006/rest/articles?include=author.photos,photos

Can be surprisingly expensive due to the naive implementation of inclusions which simply follows (many) `related` links. We can group a lot of these requests together and drastically reduce the complexity.

[code]

[2015-12-06 13:11] hxoliverrumbelow opened #64 "New filtering recommendation?"
I've just seen this: http://jsonapi.org/recommendations/#filtering which says, as of right now:
[code]

In master right now, we're using one query parameter to query against a resources attributes and a different one to query against a resources relations, something like this:

[code]
[code]

Splitting the two out simplified the initial implementation, but we should move to align with the recommen

[2015-12-07 22:35] #61 closed

[2015-12-08 20:40] #8 closed

[2015-12-10 11:06] #64 closed

[2015-12-11 00:04] Ramzeus opened #72 "Implementing a SQL handler"
Hi,

I'm trying to implement an SQL handler.
But I have a problem that I wanted to ask about.

When I'm trying to create a SQL query I want to get a list of all the attributes that I should put in the query. But the attribute list contains things that are not attributes. Such as id, type and meta.
I see in the code that there is some special code that removes the non-attributes from the attribute

[2015-12-11 08:49] pmcnr-hx commented on #72
Hi @Ramzeus! Are you aware of https://github.com/holidayextras/jsonapi-store-relationaldb?

[2015-12-11 09:37] hxoliverrumbelow commented on #72
Hi @Ramzeus. Within the scope of your handler, `request.resourceConfig.attributes` maps directly to the resource definitions we've written (such as this: https://github.com/holidayextras/jsonapi-server/blob/master/example/resources/comments.js)

I agree that combining the attributes and the relationships into one object slightly complicates the use case for writing data into a relational database.

[2015-12-11 18:44] Ramzeus commented on #72
Oh, I was not aware about that project! I will take a look at it.
Thanks!

[2015-12-23 23:39] #72 closed

[2015-12-28 23:32] futurist opened #77 "how to use with mongoose?"
I'm trying the lib and want to integrate with my existing mongoose Schema, like below:

[code]

with a sample data:
[code]

trying but don't know where to start

[2015-12-29 13:27] hxoliverrumbelow commented on #77
Hey @futurist. The goal of this project is to focus on defining/modeling json:api payloads rather than focusing on defining the backing data store. I've recently merged some changes to the README to explain the motivations behind a config-driven approach to building an API.

What does this mean for your use case? In a nutshell, you'll need to:

1. Define the resource's attributes that Clients will

[2015-12-30 07:39] futurist commented on #77
Thank you for the detailed reply. I've tried [json-api](https://github.com/ethanresnick/json-api), which using mongoose as store, but now I leave that lib and begin using jsonapi-server + jsonapi-sotre-mongodb, it's so far the best node lib to serve json-api IMO.

After test therer's an issue in my side:

### Source code:
[code]

### A. `POST` below data to url `/photos`
[code]

### B. server retu

[2015-12-30 08:48] futurist commented on #77
Beside, the project now need a feature, that user can interact with the data structure, similar to [typeform.com](http://www.typeform.com/)

The need is, in above **source code**, after `jsonApi.start()`, in a later time want to add a new resource type in `jsonApi.define`, e.g.:
[code]
Question is: is this possible / right way to add new resources? any side effects except for the server down short

[2015-12-30 10:21] hxoliverrumbelow commented on #77
Hi @futurist - You can call `jsonApi.define()` whenever you like. `jsonApi.close()` is provided to enable all handlers to gracefully shutdown.
[code]

With regards to jsonapi-store-mongodb, it looks like you've found a bug. You can see the validation error if you start jsonapi-server using `DEBUG=jsonApi:*` as per the [debugging](https://github.com/holidayextras/jsonapi-server/blob/master/document

[2015-12-30 11:58] hxoliverrumbelow commented on #77
This one line fix: https://github.com/holidayextras/jsonapi-store-mongodb/pull/10/files#diff-4219f7be27f0b8a5bb43a23c247c204cR33 resolves the bug mentioned above.

[2015-12-30 12:49] hxoliverrumbelow commented on #77
My updates have been merged, can you try again with `v1.1.0` of `jsonapi-store-mongodb`?

[2015-12-30 13:08] silentham commented on #59
Good idea dude

[2015-12-30 13:27] futurist commented on #77
`POST` same test data above **without** `meta:{}`,  the returned JSON is right now:
[code]

But when `GET` `links.self` prop: /photos/008ef600-0cad-4fb5-860a-958414defde7, the returned JSON:

[code]

the `links.self` lost a back-slash

[2015-12-30 13:31] futurist commented on #77
Also noticed in the according mongodb document:
[code]
`_id` and `id` stored the same UUID in hex and string? can it only be one to optimize the doc size a little?

[2015-12-30 14:00] theninj4 commented on #77
When you set the config, I think you're missing some important bits, you'll need:
[code]
The missing config will make all the links absolute instead of relative and should fix up your issue.

I can see where you got the minimal config from, sorry about that, I'll raise an issue to update that example in the documentation.

[2015-12-30 14:01] theninj4 opened #78 "Check example documentation for consistency"
The tl;dr example in the README is a bit out of date - go through all the docs and check it's all consistent.

[2015-12-30 14:05] theninj4 commented on #77
You're right about storing the `id` twice, it'd be great to only store it once. I'm going to leave that one until a colleague gets back from holiday, I'd like to run it by him before changing it. He might know something I don't.

[2015-12-30 14:28] futurist commented on #77
If want to serve the api in a root path, say: `http://localhost:16006/photos` without `rest` in path, is that possible?

I've tried ` base:"" ` and ` base:"/" `, both with a slash missing; the config you gave worked.

[2015-12-30 14:49] theninj4 commented on #77
Nice find again, it's fixed here: https://github.com/holidayextras/jsonapi-server/pull/79 from jsonapi-server v1.0.4 you'll be able to omit the `base` config and it'll behave as you expect.

[2015-12-31 00:52] futurist commented on #77
According to the [JSON-API spec. 201 Create](http://jsonapi.org/format/#crud-creating-responses-201)
the response for create should be:
[code]

but found now:
[code]

[2015-12-31 01:00] futurist commented on #77
In fact, in mongodb collection `photos`, both the `id` and `type` keys don't need to store, right?

[2015-12-31 09:38] theninj4 commented on #77
I've corrected the Location header: https://github.com/holidayextras/jsonapi-server/pull/80

Right now I'm not too worried about the mongo documents not being as efficient as possible on storage space. It's a trade-off between CPU processing time on the sever (removing + adding properties on every query, plus more logic to query differently as `id` wouldn't be a direct mapping) and storage space (

[2016-01-01 22:27] spalger commented on #5
Mind if I ask why this is closed? Was it implemented?

[2016-01-04 07:56] #77 closed

[2016-01-04 08:45] futurist opened #82 "right way to hook handler CRUD operations?"
Want to hook the handler method, e.g. CRUD, what's the right way? is there any API?

I see there's a `handlerEnforcer` wrapper, but seems need some hijack thing.

[2016-01-05 05:47] futurist opened #83 "`self` links within foreign relations don't resolve to the correct resources"
In the example folder, start `node server.js`, with `GET` below to foreign key `parent` of `tag`

**A http://localhost:16006/rest/tags/?filter[parent]=6ec62f6d-9f82-40c5-b4f4-279ed1765492**
[code]

**B http://localhost:16006/rest/tags/relationships/?parent=6ec62f6d-9f82-40c5-b4f4-279ed1765492**
[code]

should A && B return same version of data? now the returned data of A seems not correctly.

[2016-01-05 10:44] futurist opened #84 "Joi default() not functioning"
using mongodb-store, After set Joi default value as below:
[code]
if omit the time/age when `POST`,  the database don't have default value specified above.

[2016-01-06 20:53] theninj4 commented on #82
Handlers are simply objects that have a bunch of functions. The documentation for creating a handler can be found here:
https://github.com/holidayextras/jsonapi-server/blob/master/documentation/handlers.md

Here's an example of how you might want to take most of a handlers core behaviour but re-implement one feature more efficiently: https://github.com/holidayextras/jsonapi-store-elasticsearch#get

[2016-01-06 21:08] theninj4 commented on #83
Your first request:
http://localhost:16006/rest/tags/?filter[parent]=6ec62f6d-9f82-40c5-b4f4-279ed1765492
Gives you all `tags` who have a parent attribute/relation matching the above UUID. The tag with id `2a3bdea4-a889-480d-b886-104498c86f69` is the only resource matching that request within the example server, and it is correctly returned.

Your second request:
http://localhost:16006/rest/tags/r

[2016-01-06 21:14] theninj4 commented on #84
This is correct, we're only using Joi to pick up validation errors at the moment. It should be fairly simple to take the Joi-adjusted object after passing validation.

[2016-01-06 22:01] futurist commented on #84
I see. and please check the PR #85  above, it's worked here, but don't strictly tested.

[2016-01-06 22:27] futurist commented on #82
very good example, will go deep with that. thanks for the work!

[2016-01-06 22:27] #82 closed

[2016-01-06 22:50] theninj4 commented on #84
Ah amazing! Thanks for the contribution, sorry I didn't see your PR sooner, I've been crazy busy over the last few days.

[2016-01-06 23:11] futurist commented on #82
do you mind using co/Promise/generator to this lib? I've created a PR to be use as below:

https://github.com/holidayextras/jsonapi-store-mongodb/compare/master...futurist:master

**usage:**

[code]

[2016-01-10 11:22] jonblack opened #90 "Related data not being included"
I have the following server:

[code]

If I add the following author and book:

[code]

They are successfully added to the database.

The problem is when I retrieve all authors, the related data isn't included:

[code]

If I try to specify that I want the books from a given author included, I get the same reponse:

[code]

I'm expecting the `books` relationship `data` field to contain the books tha

[2016-01-11 21:41] theninj4 commented on #90
Your problem is in your `authors` resource:
[code]
You're missing an `as` property, which tells jsonapi-server which relationship within `books` contains the forward reference. I'll add some extra validation to prevent others from falling in to the same trap.

This is what you should change it to (verified locally with the in-memory handler):
[code]

For anyone following along, there's a slight is

[2016-01-11 21:47] #84 closed

[2016-01-11 21:48] theninj4 commented on #78
#89 #88 #86 #81 #76 There'll be more documentation to come, closing this issue for now.

[2016-01-11 21:48] #78 closed

[2016-01-12 08:26] jonblack commented on #90
That did the trick, thanks. I think I assumed it would generate a sane default if `as` was omitted, since the example uses it to link a `person` resource to `photographer`.

[2016-01-12 09:22] theninj4 commented on #90
:+1: I considered attempting to pick a default, but it won't work in complex use cases where you might have many different relations between books and authors (which I might have called "people") - if books have authors, publishers, readers and reviewers, it'd be impossible to make any reasonable guess as to which relationship is expected :(

Am I good to close this issue?

[2016-01-12 09:26] #90 closed

[2016-01-12 12:56] pmcnr-hx opened #93 "Rename `CHANGELOG.md` or make it Markdown"
Either rename `CHANGELOG.md` to `CHANGELOG.txt` or make it proper Markdown, otherwise GitHub renders it nastily. While we're at it, it'll probably make sense to reorder in chronologically inverse order with the most recent entries first.

[2016-01-12 13:08] theninj4 commented on #93
Haha, you're absolutely right! Doh.

[2016-01-18 23:29] moeabm opened #94 "server responds to OPTIONS method with 404"
The browser is sending a preflight OPTIONS request that returns 404. This seems to be a CORS. I could very well be doing something wrong but cannot find any docs on how to implement CORS on the server.

[2016-01-19 00:08] moeabm commented on #94
This may be out of the scope of this project. I'm just using a reverse proxy to put the server on same host, port and protocol as the client (ember-data).

[2016-01-19 10:25] theninj4 commented on #94
Ah. The current behaviour is to set the following headers on every response:
[code]
...however we're fronting all our environments with nginx which will be handling OPTIONS requests for us. jsonapi-server should be responding to the OPTIONS request.

[2016-01-21 23:23] theninj4 commented on #94
The default headers should now enable CORS out-of-the-box :+1:

[2016-01-21 23:23] #94 closed

[2016-01-22 20:52] moeabm commented on #94
Very nice. Thank you.

[2016-02-03 15:45] dalane opened #97 "Null relationships have a self link that results in an uncaught exception if retrieved"
Using the example app as the starting point, I modeled a folder heirarchy using a "folders" resource that refers to another "folders" resource through a parent attribute. There is a case where a folders resource doesn't have a parent as it will be the root folder. The folders resource can be retrieved and shows the following relationship attribute for parent:

[code]
The problem is if you follow t

[2016-02-03 20:24] pmcnr-hx commented on #97
Hi @dalane, thanks for reporting this and providing the test code. I've reproduced the issue and you are correct that the specification allows for `data` to be `null` in which case I believe the `related` link shouldn't be generated. I've had a look at the code and the fix should be fairly straightforward. I'll probably create a branch with the fix from which will be able to install, but the proje

[2016-02-10 10:30] #97 closed

[2016-02-16 14:57] pmcnr-hx commented on #93
This has been fixed in #98.

[2016-02-16 14:57] #93 closed

[2016-03-01 12:38] dalane opened #103 "Return all validation errors instead of only the first failure"
It would be useful if all validation errors were returned instead of only the first failure. Looking through the code it looks like this would be pretty straightforward by passing the ```{abortEarly: false}``` option to ```Joi.validate()``` and then iterating through each of the errors to create each error object.

[2016-03-08 14:12] luisjuniorj opened #104 "Unique validator?"
Hi, just getting started with this incredible lib, Is there an unique validator?

[2016-03-14 18:26] mmiller42 opened #105 "Setting relationship while creating resource?"
Say I'm creating a blog app and I need to create a new post while setting `author` to be the current user's object.

Is this possible? It's possible that this issue could actually relate to either the jsonapi-relationaldb-store or the jsonapi-client projects, but in any case, this example from the JSONAPI.org spec:

[code]

seems to yield "photographer" as a null relationship in the result back, a

[2016-03-23 21:57] theninj4 commented on #103
Good suggestions, thanks!

[2016-03-23 22:00] theninj4 commented on #105
It should be possible and should work how you've described. I'll give it a whirl over the bank holiday weekend and report back.

[2016-03-23 22:03] theninj4 commented on #104
Hi @luisjuniorj - I'm not sure I understand the question - can you elaborate on "unique validator"? If you're referring to Joi validation rules their API reference docs are here: https://github.com/hapijs/joi/blob/v8.0.5/API.md

[2016-03-27 22:37] mahlu opened #106 "Disabling PATCH, DELETE and POST"
How to allow only the GET and OPTIONS method on a type?

[2016-03-28 19:45] theninj4 commented on #106
If you want to restrict access to a resource you should simply remove the associated functionality from your handler. Handlers are documented here: https://github.com/holidayextras/jsonapi-server/blob/master/documentation/handlers.md

[2016-03-28 19:49] theninj4 commented on #104
The heading you're looking for is titled "any.allow(value)"

[2016-03-28 19:49] #104 closed

[2016-03-28 20:05] mahlu commented on #106
Thanks!

[2016-03-28 21:25] mattklinker opened #107 "Example App Startup"
Thanks for the great project, it looks nice and I'm looking forward to putting all the work to use.  I'm having trouble understanding something in your example though, note - I'm rather new to this environment so it could be simple misunderstanding on my part.

In all of the examples resource and handler files, you require jsonApi as require("../../.") and in server.js there is a server var export

[2016-03-28 21:37] theninj4 commented on #105
Ok - the jsonapi-client module won't allow us to create a resource and set a relationship on it without first `.sync()`ing it. The reason being, without having a response from the server it's impossible to know if:
1. Does named relationship exist in the remote api?
2. Is the relationship a primary or foreign relation?
3. Is the relationship a hasOne or a hasMany?

Basically, validation is impossi

[2016-03-30 11:49] theninj4 commented on #107
In the example server we do a `require("../../.")`, which resolves to the root of the project. If you attempt to require a folder path, node will look for a `package.json` file within in, and attempt to load the folder as though it were a real module located within a `node_modules` folder.

This should get you up and running:
1. Create a new folder somewhere
2. `cd` into it
3. `npm install jsonapi

[2016-04-01 08:27] theninj4 commented on #107
I'm going to close this issue, you're welcome to re-open it if you still have difficulties :+1:

[2016-04-01 08:27] #107 closed

[2016-04-05 22:25] mattklinker commented on #107
Sorry for the slow response, but I really appreciate your help in understanding this.

[2016-04-08 10:55] theninj4 commented on #83
I'm going to close this one - it only effects the in-memory handler due to the simplistic implementation whereby it doesn't filter attributes (it relies on the post-processor to validate output).

[2016-04-08 10:55] #83 closed

[2016-04-08 18:55] #103 closed

[2016-04-09 22:51] paul42 opened #109 "Enhancement Request: Allow logging via bunyan"
I don't know the best way to even ask this, but how would I create an attach a bunyan logger? one of the features I really liked about restify was that it created a child logger on each request - [Restify API](http://restify.com/#bundled-plugins) and scroll down to request logger

allowing for very simple commands, like at the beginning of a handler, writing
    req.log.info({req:req}, 'attemping

[2016-04-10 01:18] paul42 opened #110 "Question: best way to implement verbose errors on custom authenticate handler"
So, I was wondering how I can create errors in the same manner as the built-in way -
for example, when I try to POST to a route and don't pass validation, i get a response like this:

    {
      "jsonapi": {
        "version": "1.0"
      },
      "meta": {
        "copyright": "Blah"
      },
      "links": {
        "self": "http://localhost:16006/rest/comments/"
      },
      "errors": [

[2016-04-11 22:40] paul42 opened #112 "Question: best way to handle authorization - i.e. who can edit a file/post for routes"
I was also wondering if you guys have any plans / ideas for how to handle authorization? I'm curious if there's any best practices you guys operate with.

I was wondering if I should just implement jsonapi-server and write a seperate front-end utilizing jsonapi-client? Am I asking for too much customization out of an already very solid code-base?

Thanks,
Paul

[2016-04-12 18:04] paul42 commented on #112
looks like I just should just use the server and client - sorry for the spam!

[2016-04-12 18:04] #112 closed

[2016-04-12 18:04] paul42 commented on #110
looks like I just should just use the server and client - sorry for the spam!

[2016-04-12 18:04] #110 closed

[2016-04-12 18:04] paul42 commented on #109
looks like I just should just use the server and client - sorry for the spam!

[2016-04-12 18:04] #109 closed

[2016-04-20 11:12] mahlu commented on #106
Not working yet...
if I remove the associated functionality I get an error:
...
`MongoStore.prototype = _.omit(MongoStore.prototype, ['create', 'update', 'delete'])`
`module.exports = new MongoStore(db)`

C:\Users\Mahlu\desktop\aggApp\node_modules\jsonapi-server\lib\handlerEnforcer.js:29
    original.apply(handlers, argsIn);
            ^

TypeError: Cannot read property 'apply' of undefined
    a

[2016-04-21 14:19] DuncanFenning opened #113 "Return error details"
On a 401, we are not returning any error details passed by the auth hook, just a 401 status.

[2016-04-22 07:55] theninj4 commented on #105
This is fixed now :+1: Thanks for brining it to my attention.

[2016-04-22 07:55] #105 closed

[2016-04-25 07:48] slonofanya opened #115 "Lets make supporting of unique fields"
Example:
[code]

[2016-04-25 07:50] slonofanya commented on #115
@theninj4, @pmcnr-hx, what do you think?

[2016-04-26 07:55] theninj4 commented on #115
There are two perspectives to consider here:

1. **When using a stock resourceHandler** (eg, the Mongo handler or the RelationalDB handler) - For these situations the best place to enforce uniqueness will be directly on the data store, be adding some kind of unique index on the necessary properties.

2. **When using a custom resourceHandler** (eg, consuming another API or internal system) - For th

[2016-05-03 18:58] dlras2 opened #119 "Included relationships fail when host and protocol are unspecified."
To reproduce:

1. Run the example server
2. Query `http://localhost:16006/articles?include=author`
3. Observe the `included` people are included
4. Remove `protocol` and `hostname` from `setConfig` in `index.js`
5. Rerun the above query
6. Observe the `included` people are now missing

While including the protocol and hostname fixes the inclusions, it also prepends it to all the links. This is fin

[2016-05-03 21:56] nsantorello commented on #119
@dlras2 I ran into this issue today as well.  It looks like the `include` functionality works by making a separate web request(s) to the `related` URL(s) for you.  That web request fails if the URL is not absolute (and uses the `setConfig` params to construct that URL).

I fixed this in a fork (haven't written tests and not yet ready for a PR) and you can see the changes are quite simple: https://

[2016-05-04 22:54] jcteague opened #121 "providing links on the root endpoint"
I was reviewing the example and the code and I was expecting the different endpoints to be available on the api root as links.  When using hypermedia apis, I expose all available endpoints in the links collection of the root endpoint.  That way clients only know one url to access the api, all others are provided.

If I wanted to add a resource that would be exposed on the api root, how would I do

[2016-05-10 19:38] pmcnr-hx opened #122 "urlencoded query parameters broken"
As reported by @jbockerstette [here](https://github.com/holidayextras/jsonapi-store-mongodb/issues/28), urlencoded query parameters (as those generated by swagger.io) are not being handled correctly:

[2016-05-13 00:02] leondewey opened #123 "Row level access?"
How would you go about restricting row level access?

[2016-05-13 12:00] pmcnr-hx commented on #123
Do you mean restrict access to resources based on some kind of authorisation mechanism, @leondewey?

[2016-05-13 21:16] leondewey commented on #123
@pmcnr-hx Yes kind of, I can see how todo it on a resources level but what about if that resources was posts and you only want a user to be able to CRUD there own posts?

[2016-05-14 17:02] #115 closed

[2016-05-14 17:11] theninj4 commented on #123
Hi @leondewey - We combine the authentication hook with custom wrappers around the CRUD handlers. Our auth hooks look something like this:
[code]

We then wrap the base database handlers with some logic that enforces filtering upon the database, by using `request._userData` to limit the scope of the query. You can find an example of that in the comments of the example here: https://github.com/holi

[2016-05-14 17:11] #123 closed

[2016-05-14 17:17] theninj4 commented on #121
Hi @jcteague - The JSON:API specification doesn't currently cover a response for the root endpoint of the API (http://api.example.com/ or whatever for anyone else reading this). If you're looking for a way of enabling API discovery, you should check out the automatic swagger documentation (https://github.com/holidayextras/jsonapi-server/blob/master/documentation/swagger.md).

Until the JSON:API sp

[2016-05-14 17:17] #121 closed

[2016-05-14 17:37] theninj4 commented on #122
This one does actually function correctly. The second link is wrong, there is a rogue `=` in the wrong place - it should look like this:
http://localhost:16006/rest/articles?fields%5Barticles%5D%3D=title

Notice the difference:
fields=%5Barticles%5D%3Dtitle
vs:
fields%5Barticles%5D%3D=title

If the URL on the issue came directly from Swagger, there's probably an issue in their repo around sending

[2016-05-14 17:37] #122 closed

[2016-05-14 17:38] theninj4 commented on #106
Oh! I see the problem now, sorry. I'll sort this out.

[2016-05-14 19:37] theninj4 commented on #119
I've thrown together something I've been meaning to do for a while. It solves many issues, one of which being what you guys are experiencing. I've tried to reproduce this with my changes, and it looks fixed. It'd be great if one of you could independently verify it for me?

[2016-05-14 20:31] jcteague commented on #121
@theninj4 Thanks for the response.  It's your project so I complete respect your choice, however this is covered by the  [jsonapi documentation ](http://jsonapi.org/format/#document-top-level) in the Top Level section.

the Top Level section **MUST** provide a valid response and **MAY** contain a jsonapi response object.

Swagger is not what I mean, as that is for human consumption.  Providing a t

[2016-05-14 21:12] theninj4 commented on #121
@jcteague I interpreted that specification slightly differently to you. I read that section as a general definition of all JSON:API payloads, as in, the root document that applies to every request. I don't think it's referring to the root endpoint of the API.

Right now, the only place in the spec that doesn't prohibit us adding extra bits and pieces is the `meta` block. I guess we could argue the

[2016-05-14 21:29] jcteague commented on #121
Fair enough.  If you look at the (Endpoint Example)[https://github.com/endpoints/endpoints-example] their root object looks like this:

[code]
Is what I'm describing.

Thanks,
John

[2016-05-14 21:44] theninj4 commented on #121
Sadly it looks like that project is only loosely compliant with the JSON:API specification. After browsing their example it looks like they've ticked most of the "MUST" boxes, but overall it's not a shining example of what a good JSON:API compliant API looks like.

From your own link, the second paragraph, states the root object you've quoted is not compliant:
[code]

If it bothers you enough, you

[2016-05-14 21:55] leondewey commented on #123
Thank you very much! That's really cool.

[2016-05-14 22:15] jcteague commented on #121
Yes. That's why I quickly discarded it as a viable option.  Yours is
definitely the most compliant nodejs server option.
On May 14, 2016 4:44 PM, "Oliver Rumbelow" <notifications@github.com> wrote:

[2016-05-15 16:36] jbockerstette commented on #122
Oliver,
Thanks for looking into this. You are correct. However, I still think there
is a problem with urlencoding.

*This works as expected. No encoding.*
http://107.170.10.170:16006/1/articles?fields[articles]=title

*Returns:*

{"jsonapi":{"version":"1.0"},"meta":{"description":"This block shows
up in the root node of every
payload","page":{"offset":0,"limit":50,"total":4}},"links":{"self":"http

[2016-05-15 17:20] theninj4 commented on #122
In your broken examples, the format of the query string is incorrect:

[code]
which decodes to
[code]
The `=` after `fields` is invalid, it shouldn't be there.

[2016-05-15 18:06] nsantorello commented on #119
@theninj4 I can confirm that latest in your branch `rerouter` fixes this issue.

[2016-05-15 18:20] theninj4 commented on #119
Awesome, thanks @nsantorello - really appreciate you taking the time to help :+1: I'll get my team to review the PR tomorrow (they need to be aware of the change) and hopefully we'll get a new version out sometime Tuesday.

[2016-05-15 18:21] jbockerstette commented on #122
Oliver,

I am very sorry about my mistake in putting that = in there. You are
correct about that.

However, it does not work if you take that out. In addition, my curl did
not have that extra = in it and it also fails.
Here is the corrected link which fails. As you can see, I removed the =.

This fails.
*This does not work: (The only difference is encoding)*
http://107.170.10.170:16006/1/articles?

[2016-05-15 19:38] theninj4 commented on #122
Thanks for persevering, it's very interesting. You're right that this fails:
[code]

[2016-05-15 19:45] theninj4 commented on #122
Thanks for persevering, it's very interesting. You're right that this fails:
[code]
and it's because its supposed to look like this:
[code]

The equals characters aren't meant to be url encoded - encoding the equals characters implies they're meant to be interprete as being non-special. For example, if I wanted to send the string `1=1` as a query parameter named `equation`, I'd send it as `equatio

[2016-05-16 09:52] #119 closed

[2016-05-16 09:59] #113 closed

[2016-05-16 10:10] #106 closed

[2016-05-16 13:46] jbockerstette commented on #122
Thanks. I will work with the swagger guys. Great job.
On May 15, 2016 12:45 PM, "Oliver Rumbelow" <notifications@github.com>
wrote:

[2016-05-18 05:18] jbockerstette opened #129 "swagger.json generated by the example has errors"
Swagger generation doesn't seem to work correctly. The generated swagger.json contains may errors from the example project.

In order to debug this problem, I eliminated all the resources except for the people.js resource. In addition, I got rid of references to the other resources in the people.js file.

I then used the swagger editor to fix the problems found in the resulting swagger.json

I am

[2016-05-20 14:03] theninj4 commented on #129
Thanks for reporting this, I'll take a look and sort it out :+1:

[2016-05-20 17:10] jbockerstette commented on #129
Here is one fix, but there are more:
lib/swagger/path.js line 119
          required: [ "jsonapi", "meta, links" ],
Should be
          required: [ "jsonapi", "meta", "links" ],

[2016-05-20 17:18] theninj4 commented on #129
I'm going to investigate adding another step to the CI to validate the swagger output on each build, just in case we introduce any regressions in the future.

[2016-05-20 18:02] jbockerstette commented on #129
If you do a diff on these two files, you will see where all the changes that I made to fix my swagger.json.
In my swagger.json, there are 4 error types and 1 warning which are repeated over and over. So even though I had to make a lot of changes, there are really only 4 bugs and 1 warning.

I am adding these files
[swagger_json_broken.txt](https://github.com/holidayextras/jsonapi-server/files/2751

[2016-05-21 09:52] theninj4 commented on #129
Thanks @jbockerstette - I think I've fixed all of the bugs, and cleaned up the `required` attributes. There's also a CI build task that will validate the generated swagger docs, which should help prevent this from happening again.

[2016-05-22 14:57] jbockerstette commented on #129
You're awesome. Great job. Is there some way to configure the required
attributes so they only show up if you want them?
On May 21, 2016 3:52 AM, "Oliver Rumbelow" <notifications@github.com> wrote:

[2016-05-22 17:01] theninj4 commented on #129
Thanks :)

The required attributes come from the Joi schema in the resource definition, for example in https://github.com/holidayextras/jsonapi-server/blob/master/example/resources/articles.js we have:
[code]
Notice the `.required()` - the generated Swagger document will require those attributes marked as required. You can tag attributes however you like, and all models passing through to your han

[2016-05-22 17:47] jbockerstette commented on #129
Ok. I was playing with that but no matter what I tried, it always put the
required flag in my swagger. I will try again now that you have fixed it.
Thanks
On May 22, 2016 11:01 AM, "Oliver Rumbelow" <notifications@github.com>
wrote:

Thanks :)

The required attributes come from the Joi schema in the resource
definition, for example in
https://github.com/holidayextras/jsonapi-server/blob/master/exa

[2016-05-24 13:19] BryceCicada opened #132 "HTTP 403 returned as default error is not always appropriate"
Hi,

I'm using jsonapi-server in my project.  However, I wonder if the use of status code HTTP 403 Forbidden is appropriate where it occurs.  In particular, my project has no permissions etc, so there is nothing that would forbid a user from working with resources.  If it did, I would expect my handlers to manage these permissions... not jsonapi-server itself.

Suggestions:

1. If I create a handl

[2016-05-24 14:09] BryceCicada commented on #132
Here's a suggested change https://github.com/holidayextras/jsonapi-server/pull/133

[2016-05-24 15:12] theninj4 commented on #132
The portion of the spec I was looking at when I first picked `403` was:
[code]

They do however state:
[code]

So I guess it is up for debate how to interpret `an unsupported request`. Right now both of the following are considered unsupported:

* Invalid request payloads.
* Requesting functionality that isn't supported by the resource handler.

Searching the spec for `405 ` doesn't match anything

[2016-05-24 15:15] theninj4 commented on #129
The changes have been merged and pushed to NPM as v1.7.0 :+1:

[2016-05-24 15:15] #129 closed

[2016-05-24 15:18] BryceCicada commented on #132
I see.

I'm new to JSON:API, and I hadn't consulted the spec.  Rather, I was thinking about other RESTful APIs that I've used and the HTTP 1.1 spec.

I agree completely that jsonapi-server should adhere to JSON:API spec, and my point 1 should be discarded.

[2016-05-24 15:24] BryceCicada commented on #132
Reading the JSON:API spec, I'm satisfied that jsonapi-server works well, :).

Closing this issue.  Thanks for the clarification.

[2016-05-24 15:24] #132 closed

[2016-05-27 08:47] BryceCicada opened #136 "Allow resource namespaces in URL"
HI,

Suppose my resources are logically grouped in some way.  Say, I have a groups of resources relating to travel and some other group of resources relating to finance.  Conceptually, this is like having different namespaces for resources.  Is it possible in jsonapi-server to have this logical structure of resources represented in the url? eg

- http://www.myserver.com/resources/travel/schedules

[2016-05-27 09:03] pmcnr-hx commented on #136
Interesting question. I am not sure if the spec provides any guidance in this matter. You could name your resources `travel_schedules`, `finance_expenses` and have your reverse proxy rewrite `http://www.myserver.com/resources/travel/schedules` to `http://www.myserver.com/resources/travel_schedules`. That should be a fairly straightforward solution.

[2016-05-27 10:44] theninj4 commented on #136
This has come up within the JSON:API spec:
https://github.com/json-api/json-api/issues/850

The long and short of it is that the urls shouldn't be changed to accommodate namespaces, and you should hyphenate your resource names if you need to add namespaces. The spec may well change (or be added to) in the future.

[2016-05-29 21:18] seawatts opened #139 "Using with mongoose"
Is the assumption here that if I am using mongoose and using https://github.com/holidayextras/jsonapi-store-mongodb that you define your models twice? Once as a mongoose schema and once in the jsonapi-server resource format?

[2016-05-29 22:28] pmcnr-hx opened #140 "Documentation about .filter and .processedFilter missing"
The [handlers](https://github.com/holidayextras/jsonapi-server/blob/master/documentation/handlers.md) document doesn't mention the `.filter` and `.processedFilter` properties of the request.

[2016-05-29 22:30] pmcnr-hx commented on #139
Hi @seawatts. The idea behind the `jsonapi-store-mongodb`, is that it handles persistence of your resources automatically and transparently for you, based on the Joi schema of the resource. If you have a compelling case for managing persistence yourself with Mongoose, you'll need to create a [custom handler](https://github.com/holidayextras/jsonapi-server/blob/master/documentation/handlers.md) for

[2016-05-29 22:38] seawatts commented on #139
I guess I should have given you my use case.
When performing an algorithm on the server I need to go out to mongo to get all my user model. I then need to create a new group model after that. So my question is what is a good pattern for performing those actions

[2016-05-30 10:46] pmcnr-hx commented on #139
Are these Mongo collections just meant to be accessed through `jsonapi-server` or are they accessed directly elsewhere? These are architectural decisions which really depend on a number of factors.

[2016-05-30 15:51] seawatts commented on #139
Outside the API
On May 30, 2016 3:46 AM, "Pedro Romano" <notifications@github.com> wrote:

[2016-05-30 16:44] pmcnr-hx commented on #139
From what I can understand of your problem I think, as I recommended initially, that you'll be better off ignoring `jsonapi-store-mongodb` and creating  [custom handlers](https://github.com/holidayextras/jsonapi-server/blob/master/documentation/handlers.md) for your resources based on your Mongoose models.

[2016-05-30 18:22] seawatts commented on #139
Interesting. I might try that.

Here is an example of my use case. It should be pretty basic.
https://gist.github.com/seawatts/ccae398b51aeb7bc5a60c2627bc85b4e

[2016-05-31 04:41] pmcnr-hx commented on #139
You shouldn't mix `mongoose` and `jsonapi-store-mongodb` (you can of course, but I wouldn't recommend it). You should go with either `jsonapi-store-mongodb` **or** `mongoose` + custom handler. Given the clarification in your gist, there is another option which is to just use `jsonapi-store-mongodb` (no `mongoose`) and use [`jsonapi-client`](https://github.com/holidayextras/jsonapi-client) in the s

[2016-05-31 14:48] BryceCicada commented on #136
I'm learning the following:

- JSON:API resources have a type
- JSON:API doesn't care where resources are located.
- jsonapi-server implementation hangs all resources off a root url.
- some other implementation could hang each resource off arbitrary urls.

Is that so?

If I understand, json-api/json-api#850 is discussing how namespaces can be added to types.  However, I'm content with flat types.

[2016-05-31 19:36] BryceCicada commented on #136
Reading the JSON:API recommendations at http://jsonapi.org/recommendations/

I suppose jsonapi-server should remain in accordance with this recomendation.  Closing this.

[2016-05-31 19:36] #136 closed

[2016-05-31 20:10] BryceCicada opened #141 "Unable to patch relationships on resources with required attributes"
JSON:API spec for patching relationships is described at http://jsonapi.org/format/#crud-updating-relationships.

    PATCH /articles/1/relationships/tags HTTP/1.1
    Content-Type: application/vnd.api+json
    Accept: application/vnd.api+json
    {
      "data": []
    }

However, attempting this on resources with required attributes results in HTTP 403 Forbidden with detail "Param validation fai

[2016-05-31 23:55] jbockerstette opened #142 "Null pointer"
/root/jsonapi-server/lib/routes/relationships.js:47
        sanitisedData = sanitisedData.relationships[request.params.relation].data;
                                     ^

TypeError: Cannot read property 'relationships' of null
    at /root/jsonapi-server/lib/routes/relationships.js:47:38
    at fn (/root/jsonapi-server/node_modules/async/lib/async.js:746:34)
    at /root/jsonapi-server/node_mo

[2016-06-01 12:44] vnen opened #143 "Access to inner server"
There seems to be no way of accessing the inner server of this module. Even to use an existing express instance needs to mess with the `require` cache (as per the example in the docs).

I particularly want to run a Websockets server in the same host and port, which would be possible if either I had access to the inner server or better yet: if I could specify a server in `setConfig()`.

[2016-06-01 19:28] jbockerstette opened #144 "POST a new relationship for a Joi.one("people") in articles fails with 403"
If you use your example project, do the following:
1. POST a new article
2. POST a new relationship to author of type people to the new article. Here is the curl.
`curl -X POST --header 'Content-Type: application/vnd.api+json' --header 'Accept: application/vnd.api+json' -d '{
  "data": {
    "type": "people",
    "id": "cc5cca2e-0dd8-4b95-8cfc-a11230e73116",
    "meta": {}
  }
}' 'http://localhost

[2016-06-02 01:30] jbockerstette commented on #144
The problem is in lib/routes/addRelation.js
Here is the line. This works as long as the relation is an array relationship but if it is a Joi.one relationship, then you cannot use this line.
`theirResource[request.params.relation] = theirResource[request.params.relation] || [ ];`

Here is how the logic should work:

[code]

[2016-06-02 11:43] theninj4 commented on #142
This occurs when the data coming out of your handler doesn't validate against your schema.

For example, if your Joi schema for a resource says `There will be a "body" attribute`, but the data in a database somewhere doesn't enforce the same requirement and someone inserts a row without a `body`, then you try and fetch that resource via the API.

I'm opening a PR in to provide an error saying "Sor

[2016-06-02 12:01] theninj4 commented on #144
:+1: Thanks for reporting this. I'm working on reproducing this in a test, a fix will be coming shortly after.

[2016-06-02 13:39] jbockerstette commented on #144
I already fixed it. I will submit a pull request.
On Jun 2, 2016 5:02 AM, "Oliver Rumbelow" <notifications@github.com> wrote:

[2016-06-02 14:47] #139 closed

[2016-06-02 16:00] theninj4 commented on #142
Fixed in v1.11.0

[2016-06-02 16:00] #142 closed

[2016-06-02 16:00] theninj4 commented on #141
Fixed in v1.11.0

[2016-06-02 16:00] #141 closed

[2016-06-02 17:16] jbockerstette commented on #144
I guess I am not able to submit a PR so here is my changes as an attachment.

On Thu, Jun 2, 2016 at 6:39 AM, Jim Bockerstette <jim.bockerstette@gmail.com

[2016-06-02 19:15] jbockerstette opened #149 "Example POST new comment fails with 403 if you specify the article relationship"
If I try to POST a new comment with the article relationship specified, it fails with a 403.

I believe the problem is in create.js lines 36-44. Also of note is that in comments.js, article is specified as Joi.belongsToOne. It appears that a POST will fail on any resource if you try to specify the relationship for the Joi.belongsToOne attribute.

[code]

Response body:

[code]

[2016-06-08 06:28] theninj4 commented on #149
In this example, the definition of comments lists `article` as being a foreign relationship:
``
    article: jsonApi.Joi.belongsToOne({
      resource: "articles",
      as: "comments"
    })
[code]

[2016-06-14 23:39] jbockerstette commented on #149
That makes sense. The only reason I tried to do this was that the resulting
swagger implies that this can be done. It might be nice to generate swagger
that does not show this as an option in the POST. Just a thought. It is not
critical for me.

Thanks.

On Tue, Jun 7, 2016 at 11:28 PM, Oliver Rumbelow <notifications@github.com>
wrote:

[2016-06-16 13:00] BryceCicada commented on #143
+1

[2016-06-16 16:16] jbockerstette opened #152 "Swagger UI is generating curls that are not understood by jsonapi-server"
I have reported this bug to both projects (jsonapi-server) and swagger-ui project. Each project has responded that it is not a bug in their software. I am not an expert in this subject. All I know is that swagger does not work correctly with jsonapi-server when trying to pass params from the swagger ui to jsonapi-server. Please take a look at this issue and let me know what I should do. Thanks.
ht

[2016-06-16 18:36] theninj4 commented on #152
I honestly can't see this one being fixed - both projects are behaving as expected, the core issue is that it's very difficult to completely describe a JSON:API service (or any other hypermedia API) using Swagger.

From Swagger's perspective, any text an end user types into the "value" input fields within Swagger needs to be escaped. They are correct, they should indeed escape this data.

From JSO

[2016-06-16 18:39] theninj4 commented on #149
Hi @jbockerstette - You've got a good point about the misleading docs, I'll convert this to an `enhancement` to try and find a resolutionn :+1:

[2016-06-22 08:01] #144 closed

[2016-06-22 08:09] #143 closed

[2016-06-22 08:12] #59 closed

[2016-06-23 21:12] #152 closed

[2016-06-28 15:52] EJIqpEP opened #160 "jsonapi-server works incorrectly with prefix and existing express server"
Hello. I have express server which renders react on any page except api pages.
What I want to achive: jsonapi-server controls /api/* routes and my app.get controls all other urls.
Now when I go to any url with async data fetching, jsonapi-server renders page with empty object faster then my code. I thought base in config should solve this issue.
[code]
After this lines I put jsonApi initializing
[

[2016-06-29 09:35] pmcnr-hx opened #161 "Optional bypassing of post-processing filtering"
Look into allowing post-processing filtering to be optionally bypassed so data store side filtering is properly exercised by the relevant tests.

[2016-06-29 12:28] EJIqpEP commented on #160
The easiest way to fix this is just separate api in other project and just proxy requests to jsonapi-server. It's much easier than to try to make them working together.

[2016-06-29 16:18] theninj4 commented on #160
Using separate projects is a good solution. If anyone is desperate to make it all work together as a whole, jsonapi-server exposes it's express instance like this:

https://github.com/holidayextras/jsonapi-server/blob/master/documentation/configuring.md#gaining-access-to-the-express-server

Slightly more documentation on the PR:
https://github.com/holidayextras/jsonapi-server/pull/153

[2016-06-29 16:20] theninj4 commented on #161
We should be able to validate this by comparing the pagination block with the number of resulting resources. The post processing filter will remove resources but it will NOT twiddle the pagination counters (one of them is the claimed number of returned resources). If the two sources don't line up, the data store isn't filtering correctly.

[2016-06-29 19:34] pmcnr-hx commented on #161
Sounds like a plan. I'll see about adding a test for this to avoid future regressions.

[2016-06-30 08:17] EJIqpEP opened #162 "Is it possible to avoid overriding of handlers method?"
Hi. I'm trying to implement adding slug automatically on create. In custom handler I can see that we can only fully override create method. There is no middleware to put beforeCreate.
My code is looking a bit ugly
[code]
Is there a way to write code better?

[2016-07-04 17:58] dezinsektor opened #164 "Deleting one-to-one relationship fails with error"
Hi!

[code]
The problem is here:
[code]
For one-to-one relation  ` theirResource[request.params.relation]` is not an array.
And I could not find any tests covering this case.

[2016-07-04 18:18] dezinsektor commented on #164
After fixing this problem, you will run into the next one:
jsonapi-server/lib/routes/removeRelation.js:48
[code]
`request.params.relation` is a name of the relation from resource config, but not a type of it, so obviously the check above will always fail the deletion.

[2016-07-04 19:16] dezinsektor commented on #164
I've fixed it like this:
[code]

[2016-07-05 08:05] theninj4 commented on #164
Ahhh, thanks for reporting this! It's really appreciated. I thought I'd fixed this a few weeks back but it looks like one of the tests wasn't quite right. I'm pushing a fix through this morning :+1:

[2016-07-05 08:20] theninj4 commented on #162
Not at this time, sorry. Some kind of middleware interface on the handler functions is an interesting idea, I'll keep it in mind :+1:

[2016-07-05 08:20] #162 closed

[2016-07-05 08:22] #160 closed

[2016-07-05 08:38] dezinsektor commented on #164
Thanks!

[2016-07-05 09:04] #164 closed

[2016-07-05 09:04] #161 closed

[2016-07-09 00:28] chrisforrette opened #170 "Updating Joi Dependency"
Hello,

I noticed the version of Joi in this project is 6.10.1 and it's up to version 9.0. Is this something that's reasonably easy to upgrade? Thanks!

[2016-07-10 19:46] pmcnr-hx commented on #170
Joi > 6 doesn't support Node.js 0.10 (which `jsonapi-server` still does), therefore we have to stay at `joi-6.x` at the moment. Do you have any compelling reason for requiring more modern recent versions of Joi?

[2016-07-11 01:54] tdreyno commented on #170
I'd really suggest getting support up to Node 4.4, which is their Long Term Support release. I think most of the community has moved in that direction (hence joi dropping old 0.10 support).

Anyways, joi keeps adding nice helper methods that we'd hoping to use in our schemas.

[2016-07-11 02:09] tdreyno opened #171 "Paging doesn't recalculate total results when filtering"
I am using the MemoryHandler currently, so let me know if that's the source of my issue, but:

I'm running a simple filter on a collection.

[code]

The response correctly returns the only item where this filter is true. Unfortunately, the `meta` paging information still shows the original count:

[code]

Shouldn't that say `1` rather than `8000` (the original collection length) in this filtering

[2016-07-11 21:58] theninj4 commented on #171
Hi @tdreyno - You're correct the memoryHandler doesn't update the pagination count. The reason why it doesn't work is because the memoryHandler doesn't actually do any filtering on resources, it lets jsonapi-server's post middleware handle it. It does, however, report back the total number of resources it *thinks* match (all of them) which leads to the odd behaviour you're seeing.

The other memor

[2016-07-11 22:06] theninj4 commented on #170
You're all right that we should move to the most recent version. The main thing holding me back is the main reason why this project exists and why I've poured countless hours in to it is that the project currently using this module in production is running on 0.10.x, so if I bump `Joi` I won't be able to consume my own module ;)

Last time I checked (many months ago) a lot of commercial usage of N

[2016-07-11 22:06] theninj4 commented on #170
https://semaphoreci.com/blog/2015/12/15/nodejs-version-usage-in-commercial-projects-2015-edition.html

[2016-07-12 19:47] tdreyno commented on #171
@theninj4 I also just implemented by own memory handler to do that.

That said, having the default example on the project have such a serious bug might be worth resolving. Either through documentation or by removing the broken functionality in favor of saying "implementers should handle this in their handler"

[2016-07-12 22:04] theninj4 commented on #171
I see where you're coming from, but I don't see it as a serious bug - I can't think of any good reasons to use the memory handler in a customer-facing production environment.

You're right that the documentation for handlers should cover pagination, I'll get that resolved :+1:

[2016-07-15 05:52] tdreyno commented on #171
No, but it's perfectly reasonable to use the memory handler in a prototype or testing scenario, both of which would benefit from pagination actually working.

But it's cool. Your project, I'll let it be.

[2016-07-15 05:52] #171 closed

[2016-07-27 00:13] bitsoflogic opened #172 "Documentation: server.close() is not enough if using metrics"
https://github.com/holidayextras/jsonapi-server/blob/master/documentation/configuring.md#stopping-jsonapi-server

This needs to remove existing listeners as well:
[code]

Or, perhaps, make the `server.close()` method a bit more robust and have this behavior from the get-go.

[2016-08-08 12:31] EJIqpEP opened #174 "Filter in relationships doesn't filter correctly."
Hi. I'm doing data filtering according the examples in tests.
[code]
So here I want to get all lessons what belongs to category with name aa.
In response it returns all lessons that I have.

For comparison such filtering works correctly
[code]

As a store I'm using jsonapi-store-mongodb.
My resource are:
[code]

[2016-08-12 15:35] theninj4 commented on #174
Yes, this behaviour is correct.

The first query `/lessons?include=category&filter[category][name]=aa` is saying "Find me all lessons, then include all categories with a name of aa".

The second query `/lessons?include=category&filter[category]=111` is saying "Find me all lessons where the lesson category is 111".

The specification doesn't mention anything about a JSON:API compliant service needi

[2016-08-12 16:20] EJIqpEP commented on #174
Thanks a lot. Now I understand it. Because while viewing tests I didn't understand it correctly.

[2016-08-31 08:44] adamlc opened #176 "Event listeners / pre or post processing for resources."
We're just starting to build a new API around jsonapi-server and loving it so far!

I just had a query / suggestion. We have a requirement where we need to do various things either before or after a resource is created. The main requirement is we need to quota certain resources so we'd need to hook in before records are created and after they're created. Returning an error if their quota is full o

[2016-09-06 03:13] gauthierm opened #177 "Allow dynamic metadata"
In the server config you can currently specify static metadata. This data is fixed after the server starts. I would like to include a response timestamp in the metadata for synchronization between client and server but there is no obvious way to do it.

I'd like to be able to specify a function or a special kind of handler object for the request metadata.

[2016-09-06 11:13] theninj4 commented on #176
This has come up before in #162, and we ran in to a challenge in production a few months back whereby we wanted to add some custom authentication to a bunch of resources backed by the relational data store, we solved it by creating a custom handler that accepts another handler and allows us to inject custom functionality around each handler action.

I'll look in to this issue today and see if I ca

[2016-09-06 11:15] #174 closed

[2016-09-07 11:06] theninj4 commented on #176
@adamlc does the above PR help overcome some of your challenges?

[2016-09-07 14:14] #149 closed

[2016-09-07 20:35] st3xupery opened #183 "Allow for multiple filter values to be combined in a comma-separated list"
When referring to the [JSON API recommendations for filtering](http://jsonapi.org/recommendations/#filtering) it suggests:

I understand that a similar result is achieved leveraging the Node querystring library as such:
`GET /comments?filter[post]=1&filter[post]=2 HTTP/1.1`

But in project I am currently working on it is not unusual to query the api with a filter list 100 values long and the redun

[2016-09-08 19:49] st3xupery opened #186 "Mask local routing addresses for an alias"
When generating absolute links it would be ideal to mask the the addresses being generated to an alias that differs from the config parameters provided on server initialization. The port number I may provide to the server will not be the port number of the address someone reaches the API from. With nginx I proxy the traffic that hits the node server and I'd like the links to reflect that.

I've im

[2016-09-09 15:31] theninj4 commented on #183
This is a great suggestion. In all honesty I'm sure we used to have this feature, but it looks like there wasn't test coverage on it and we lost it over a refactor. If we can get a test to ensure we don't lose the feature again, then I'd love to merge it :+1:

[2016-09-09 15:35] theninj4 commented on #186
Your changes look good, I'm not too worried about tests (it's very hard to test with the current test suite, which is geared towards a full-stack run journey via an example server) but some additional documentation might be good? Does the swagger documentation need any minor tweaking too? In summary - looks good, would merge :+1:

[2016-09-09 17:49] st3xupery commented on #186
Great! Added some additional docs to configure.md and made sure the changes reflect in the swagger output.

[2016-09-12 11:25] adamlc commented on #177
This would also be useful for me too :)

[2016-09-12 11:27] adamlc commented on #176
@theninj4 that looks like it should do the trick! I'll have a play later and let you know how it goes :)

[2016-09-12 13:21] adamlc commented on #176
@theninj4 Just to let you know that worked perfectly for our use case, can't thank you enough!

[2016-09-12 13:21] #176 closed

[2016-09-13 12:55] adamlc opened #190 "Swagger Generator should ignore disabled resource options in handlers"
You can disable certain resource options in a handler, such as disabling create and delete here:

[code]

This works as expected in the API but unfortunately the swagger generator still seems to generate documentation for these endpoints despite being disabled in an adapter. The swagger generator will need to check for the existence of a function before it generates documentation.

[2016-09-19 12:32] theninj4 commented on #183
Thanks for the help :+1: Great work

[2016-09-19 12:32] #183 closed

[2016-09-19 13:11] theninj4 commented on #177
How about when we set the static metadata like this:
[code]
We could also support a synchronous function instead of an object:
[code]
Would that be sufficient for your use cases?

[2016-09-19 13:20] adamlc commented on #177
Well that would certainly suit my usecase. I have HTTP headers that come from my API Gateway (Tyk) like I'd like to expose as metadata.

[2016-09-19 15:56] gauthierm commented on #177
@theninj4 Yeah, that would suit my use case.

[2016-09-20 08:15] #177 closed

[2016-09-20 08:31] theninj4 commented on #186
Thanks again for the contribution! :+1:

[2016-09-20 08:31] #186 closed

[2016-09-20 08:33] #190 closed

[2016-09-20 08:50] #172 closed

[2016-09-29 10:29] theninj4 opened #201 "Process resources on startup to validate relationships are valid"
If the resource configuration is invalid, we should error as early as possible, and provide as much information as possible.

For example if we have two resources `A` and `B`, whereby `A` has many `B` and `B` belongs to many `a`, we should error on startup to say `Resource B belongs to many 'a', but 'a' isn't a valid resource`.

[2016-09-29 11:26] theninj4 opened #202 "Add "use strict" to every file for better Node v4 support"
A whole bunch of modules aren't ready for always-on "use strict", we should opt-in on a per-file basis for at least a while longer. The biggest culprit I've found so far is the `bunyan` logger.

[2016-09-29 11:44] #202 closed

[2016-10-11 02:48] gauthierm opened #206 "Hyphens no longer allowed but JSON API recommends them by default"
In commit https://github.com/holidayextras/jsonapi-server/commit/b8a15576ac050e60385a2b4cdb4da0c1869268a9 it's no longer possible to define resources or attributes that contain hyphens.

The JSON API spec recommends using hyphens http://jsonapi.org/recommendations/#naming and other implementations expect this recommendation to be followed by default (for example, [`ember-data`](https://github.com/

[2016-10-11 02:59] scottmtraver commented on #206
I have this exact problem with a new ember app I am building! It was difficult to uncover because ember simply doesn't map them and the data returns but the models get undefined attributes

[2016-10-12 08:43] theninj4 commented on #206
It was - GraphQL doesn't allow hyphens. I can understand their rationale - when writing JavaScript frontends (and backends), having to swap out the hyphens on both sides of the transport mechanism to dodge invalid syntax becomes a lot of hassle.

[code]

If you need the hyphens I'd recommend sticking to the `^1.17.0` release for now. I can look in to disabling the GraphQL support in favour of allo

[2016-10-12 08:45] theninj4 commented on #206
For the record, when we jumped to `v2.0.2` in production, we ditched all the hyphens and moved to camelCase.

[2016-10-13 08:50] adamlc commented on #206
Whilst GraphQL is a nice to have, I don't think the library should break standards because of it. Maybe a happy medium would be allow hyphens and then transform them when they're used as part of GraphQL?

[2016-10-13 09:28] theninj4 commented on #206
The naming convention with JSON:API is only a `recommendation`, it's not a part of the core spec:
https://github.com/json-api/json-api/issues/323#issuecomment-74965368
http://jsonapi.org/recommendations/#naming

Here's a nice summary of what that means for Ember:
http://stackoverflow.com/a/34546430
...they're basically converting backwards and forwards.

I considered going down the path of rejiggi

[2016-10-13 09:57] adamlc commented on #206
Sorry I didn't realise it was only a recommendation. TBH I didn't really like hyphens for the reason you mentioned earlier! For anyone wondering in Ember its actually pretty simple to [convert to camelcase for example](https://guides.emberjs.com/v2.8.0/models/customizing-serializers/#toc_attribute-names).

Its probably worth putting something in the readme about working with Ember. I guess a lot o

[2016-10-13 10:38] theninj4 commented on #206
You're right, the documentation should mention this - I'll get something added :+1:

[2016-10-15 01:19] gauthierm commented on #206
Documentation for this issue (maybe something specifically for Ember) would be an acceptable fix for me. For now I'm using 1.17.0 but plan to update my ember project to use a camelCase serialize/deserialize. We are more than likely going to want GraphQL in the future so limiting ourselves now on a new project doesn't make sense.

[2016-10-17 10:39] adamlc commented on #171
@theninj4 I'm developing my own handler and have this issue. Is there a way I should be handling this properly without having to check all the filter stuff myself in my own handler?

[2016-10-18 09:02] theninj4 commented on #171
I don't think there's any way to correctly handle pagination if your handler doesn't support it. It'd be possible to correctly identify the size of the page, but all other functionality will be broken.

You might be better off opting out of pagination entirely by dropping the `resultCount` from your search function. Theoretically you should be able to simply drop that param, although a quick test

[2016-10-18 09:49] adamlc commented on #171
Cool thanks! I have an external service that returns very fuzzy results, so quite a few of them are useless and later removed by the filters. I guess not having pagination isn't an issue for this particular endpoint at least!

[2016-10-25 08:03] adamlc opened #208 "Invalid resource includes throw an error"
When trying to include resources that have an invalid name, i.e. **http://localhost:16006/rest/articles?include=fdfdds** an error is thrown.

In the MemoryHandler this returns the correct response but in some other handlers it actually kills the node process. Here is a stack trace:

[code]

I've attempted to fix the issue, although I'm not actually sure of the implications, it seems to work for me

[2016-10-25 13:37] theninj4 commented on #208
Ahhh nice find! The bug was a few lines further down, here's the simplified view of root cause:
[code]
The `includes.forEach` would trigger the error callback, however as the stack unwinds we end up back in the `forEach`, which falls down to the final `return callback` for the second invalid invocation.

[2016-10-26 12:45] adamlc opened #210 "Asynchronous Processing"
We've come across a point where we need to do an operation that requires backend processing, the JSON API spec has quite a nice [recommendation](http://jsonapi.org/recommendations/#asynchronous-processing) around how do it. Is this something that you guys would be interested in implementing or is it out the scope of this project (also not sure how this would affect GraphQL stuff)? From what I can

[2016-10-27 15:09] theninj4 commented on #210
The asynchronous processing recommendation is really... odd. Firstly they suggest the process begins with `POST /photos`, however the response comes back with a type of `queue-jobs`, which doesn't match the `photos` type an API consumer may expect. Secondly the resource's self link is a bit odd (`/photos/queue-jobs/5234`), it doesn't match any well-known JSON:API routes. Here's their example for f

[2016-10-27 20:00] dlras2 opened #211 "The state of DynamoDB support"
Sorry if this isn't appropriate for an issue, but I figured it may be useful to others using this library.

What is the current state of DynamoDB support? The initial branch is nearly a year old. We're happy to work on this ourselves if necessary, but if there was specific problems you ran across when trying to make it work, that would be great info. Any advice on tackling this before we dive in?

[2016-10-28 07:59] adamlc commented on #210
@theninj4 to be honest that actually makes much more sense and is much cleaner. Thanks for your feedback, I'll certainly implement it in that way, much cleaner 😃

[2016-10-28 07:59] #210 closed

[2016-10-28 08:35] pmcnr-hx commented on #211
Since this initial work we have implemented data handlers as standalone projects: [`relationaldb`](https://github.com/holidayextras/jsonapi-store-relationaldb) (the most mature of the handlers and the one we're actively using), [`mongodb`](https://github.com/holidayextras/jsonapi-store-mongodb) (quite mature) and [`elasticsearch`](https://github.com/holidayextras/jsonapi-store-elasticsearch). I be

[2016-10-28 15:30] dlras2 commented on #211
Hi pmcnr-hx,
Pulling out the dynamodb branch into a separate project we could fork and PR would be great. We are currently using jsonapi pretty lightly in production, so we will probably start very thin (simple read and write support), but having a project to work off of would be great!

[2016-10-28 15:49] theninj4 commented on #211
The current state of the DynamoDB branch is... hmm. I took the empty jsonapi-server handler interface and started pushing around some generic dynamodb code to flesh out what it might eventually look like. I was going in somewhat blind to how DynamoDB should be used - the idea was to get some static code working, then alter it to be dynamic and conform to the resource specification. I shelved the i

[2016-10-28 16:11] dlras2 commented on #211
That is good info to have! Personally I'm new to DynamoDB too, and have only worked with the MongoDB handler. I took a look at the branch and kind of got that impression. Perhaps we will settle on the tailored DynamoDB handler for our use cases, and if we need a more generalized handler we can reassess our options then. Thanks for the reply!

[2016-11-01 14:17] nojacko opened #212 "Add support for polymorphic relationships"
Hi.

I'm trying to use jsonapi-server with an Ember app. We have a model with a relationship that is polymorphic. Ember supports this happily.

Below is the JSON-API payload that works. Is there away to have multiple types within a relationship using jsonapi-server?

Thanks

[code]

[2016-11-02 09:51] theninj4 commented on #212
This is an interesting one, it's a use case I haven't considered / encountered yet. Right now the above isn't going to work, however it doesn't feel like too big a step to support. I've got this Friday at work for 10% time, leave this with me and I'll see what I can do.

[2016-11-04 09:29] #211 closed

[2016-11-04 14:18] #208 closed

[2016-11-04 15:38] gauthierm opened #214 "Release tags for post 1.17.0 missing from Github"
The 2.x version has seen 2.0.0 and 2.1.0 but there are no tags in GitHub to track these versions.

[2016-11-07 11:51] nojacko commented on #212
Thanks @theninj4. You work fast!

[2016-11-07 14:55] #212 closed

[2016-11-07 14:57] theninj4 commented on #212
I've not updated the formal documentation yet, however in the interests of cutting a release and letting people try it, I'm going to defer it for a little bit.

Here's the usage snippet from the PR:

Some examples in this action:

[code]

http://localhost:16006/rest/tuples?include=preferred
http://localhost:16006/rest/tuples?include=preferred.author
http://localhost:16006/rest/tuples?include=prefe

[2016-11-07 15:17] theninj4 commented on #214
Oops, you're right. I've tracked them down and tagged a bunch of the missing tags. Thanks for pointing it out :+1:

[2016-11-07 15:17] #214 closed

[2016-11-08 11:36] nojacko commented on #212
Thanks @theninj4! This is really awesome!

[2016-12-05 02:08] jokeyrhyme opened #218 "support for client-generated IDs ?"
I just found this JSON API implementation and it's going to save me a tonne a time. Thanks!

I'm trying to use this with client-generated IDs: http://jsonapi.org/format/#crud-creating-client-ids

My use case is that I'm trying to create deterministic automated tests, and this would be easier if I could just hardcode the IDs for any resources that the tests will be manipulating.

I've tried POSTing

[2016-12-05 02:15] jokeyrhyme commented on #218
Hmmm, just found this:

https://github.com/holidayextras/jsonapi-server/blob/v2.2.0/lib/routes/create.js#L38

It looks like client-generated IDs _might_ work, but only if the `"id"` property is within `"attributes"` instead of at the root level. /shrug

[2016-12-05 02:40] jokeyrhyme opened #219 "question: server-free port-free direct API for use in Function-as-a-Service / tests ?"
I don't mean to hammer you with issues today, I'm just darned excited about finding this project. :D

I'm working on a project that will be hosted in a Function-as-a-Service, such as AWS Lambda, Google Cloud Functions, or Azure Functions. Within such an environment, it would be desirable to be able to pass a request to this JSON API framework without involving the network stack.

It is still possi

[2016-12-06 01:42] jokeyrhyme opened #220 "bring-your-own router breaks `jsonApi.close()`"
According to the documentation, we can bring our own Express router:
-   https://github.com/holidayextras/jsonapi-server/blob/v2.2.0/documentation/configuring.md

However, this means that the framework no longer has a reference to the HTTP server in use, which means `jsonApi.close()` throws an exception. This is caused when `jsonApi.close()` calls the internal `router.close()` method, which then t

[2016-12-06 02:07] jokeyrhyme opened #221 "should `handlers.close()` be officially documented and encouraged?"
I found that `jsonApi.close()` calls `handlers.close()`:
-   https://github.com/holidayextras/jsonapi-server/blob/v2.2.0/lib/jsonApi.js#L126

But this doesn't seem to be an officially documented part of the handler specification:
-   https://github.com/holidayextras/jsonapi-server/blob/v2.2.0/documentation/handlers.md

Is it worth adding this to the official handler specification?
Is implementing

[2016-12-06 02:08] jokeyrhyme commented on #221
Being able to close all open handles, handlers, timers, etc is an important part of addressing the FaaS use case I mention over in #219

[2016-12-06 02:12] jokeyrhyme commented on #219
What I have so far is an approach that starts the server then tries to stop it:

[code]

Note that this doesn't yet seem to successfully shut everything down. I feel an HTTP-free network-free way of asking the framework to handle a (synthetic?) request would be ideal. But the one-request server approach I've outlined here is very close to being sufficient.

[2016-12-06 02:49] jokeyrhyme commented on #219
I've been reviewing discussions over in https://github.com/expressjs/express/issues

Officially-supported network-free request handling in Express might not be possible until 5.x. :S

[2016-12-07 05:44] bjornharrtell opened #222 "Generate resources from Ember Models"
I was thinking it might work to generate resources from Ember Models for maximum DRY. If it sound like a good idea I'm willing to try and implement it.

[2016-12-07 11:29] theninj4 commented on #219
In `lib/rerouter.js` you'll find a network-stack bypass that lets you ping requests in without hitting express, I wrote it for a performance boost when doing lots of inclusions and it's used by the GraphQL implementation.

Take a look, it might do what you need although it may need a few small tweaks for non-GET requests :)

[2016-12-07 11:33] theninj4 commented on #219
Thanks for all your contributions @jokeyrhyme, they're awesome :D I'm rammed for the rest of today into the evening, but I promise I'll get to all this first thing tomorrow morning (~22 hours from now) :cake:

[2016-12-07 11:49] jokeyrhyme commented on #219
`lib/rerouter.js` looks promising, thanks :)

My current approach starts the server in a child process, makes the request, and then kills the child process. This covers closing the MongoDB connections, at least until I get around to that PR. :)

[2016-12-08 09:01] #218 closed

[2016-12-08 09:02] #221 closed

[2016-12-08 09:10] #220 closed

[2016-12-08 10:06] theninj4 commented on #222
It could be an interesting academic exercise, converting an Ember model to a Joi schema. A quick google search suggests people have tried to convert the other way (https://github.com/HelloWallet/joi-ember), I'm not sure how feasible it would be, or where it should live, but it does sound interesting :)

If you do give it a go and get it working, I'd be happy to link to it in the readme?

[2016-12-08 10:53] bjornharrtell commented on #222
Ah! Didn't know Joi was a thing separate from jsonapi-server. The other way round could also be useful, but for me ember->joi would be nicer as I'd like to see development done top to bottom if possible. If I get anywhere I'll be sure to get back to you. :)

[2016-12-08 11:25] bjornharrtell commented on #222
Relatedly I found this pretty cool generator that via JSON API can generate Ember Models: http://discuss.emberjs.com/t/ember-data-models-generator/10166.

So, can facilitate joi->ember via jsonapi-server.

[2016-12-09 12:48] theninj4 commented on #221
Gah, this auto-closed when I merged a PR. You're right, `.close()` is something that should be encouraged where applicable :+1:

[2016-12-09 20:10] jokeyrhyme opened #227 "missing git tag for v2.2.1"
Just noticed that NPM has v2.2.1, but there's no git tag for it. It would be super handy if you could add this in, probably against the commit where you bump the version to v2.2.1?

I find this makes linking to lines of code easier when I can lock it to a specific version. :)

[2016-12-12 08:43] theninj4 commented on #227
Oops, my bad. The latest commit in master was the merge for the v2.2.1 release, I'll tag it now :+1:

[2016-12-12 08:43] #227 closed

[2016-12-12 09:29] jokeyrhyme commented on #227
Thanks, yay!

[2016-12-15 15:52] #201 closed

[2016-12-22 14:44] yossialush opened #230 "Last page link calculation is not accurate"
I've noticed that pagination link for the last page is miscalculated when the total result is even and
the limit is odd. For example: using this pagination params: page[limit]=5, I've got the following result:

"meta": {
    "page": {
      "offset": 0,
      "limit": 5,
      "total": 16
    }
  },
  "links": {
    "self": "/containers/12/templates?page[limit]=5",
    "last": "/containers/12/temp

[2016-12-22 20:25] gauthierm opened #231 "Non-standard JSON API error objects used"
When an error is returned it is sent similar to the following:

[code]

The [JSON API Error spec](http://jsonapi.org/format/#error-objects) says the `detail` key should be a human-readable string but the server is returning an array of objects.

[2016-12-27 13:03] futurist opened #232 "allow unicode names"
According to the [spec](http://jsonapi.org/format/#document-member-names-allowed-characters), unicode can be appeared in names, but below check prevent that

https://github.com/holidayextras/jsonapi-server/blob/master/lib/jsonApi.js#L57

The unicode world need this feature, could add unicode support?

[2016-12-27 20:28] st3xupery opened #234 "CONTRIBUTING.md up to date?"
Is the contributing.md up to date, I don't see the flow script in the package.json anymore and coverage script throws an error because of html-cov which was dropped since mocha 3.0.0 https://github.com/mochajs/mocha/issues/2356

[2016-12-28 00:59] futurist opened #235 "add `greaterThanOrEqual` and `lessThanOrEqaul` filtering"
For the **filtering**, could also add `>=` and `<=` comparation?

https://github.com/holidayextras/jsonapi-server/blob/master/documentation/post-processing.md#filtering

[2016-12-28 07:28] futurist opened #236 "reverse linkage of relationships return no data"
`npm start` to run the example server, access below link:

http://localhost:16006/rest/people/ad3aa89e-9c5b-4ac9-a652-6670f9f27587/relationships/photos

It's returned:

[code]

It have no data.

add ` console.log(sanitisedData) ` below this line:

https://github.com/holidayextras/jsonapi-server/blob/master/lib/routes/relationships.js#L44

I've got the output:

[code]

Is this the right behavior? O

[2016-12-28 13:43] theninj4 commented on #231
The type of `detail` is very loosely implied: `a human-readable explanation specific to this occurrence of the problem`.

For validation errors, the best detail we can provide is the result of the Joi validation library, to aid engineers when building and consuming API's. If we change this behaviour, it needs to produce a message that is helpful for all variations of validation failure - something

[2016-12-28 13:51] theninj4 commented on #232
The spec says:
[code]
So whilst they're not recommended, we could have a config setting that enables engineers to opt-in to say "Yes, these characters aren't URL safe, but I have no choice" and therefore loosen our validation regexp's.

I wonder how things like Swagger and GraphQL deal with unicode characters...

[2016-12-28 13:51] theninj4 commented on #230
Interesting. I'll take a look :+1:

[2016-12-28 14:21] theninj4 commented on #234
Ahhhh very good questions, I'll take a look :+1:

[2016-12-28 22:30] gauthierm commented on #231
As a programmer, I like the extra detail provided by Joi's validation library. I created this issue because I am writing a client using the spec as a reference and it failed to parse the errors detail values returned by `jsonapi-server`.

It may be worthwhile contacting the spec authors and asking for clarification on the error `details` field (is it an array, an object, a string, any of the above

[2016-12-29 14:21] yossialush opened #239 "GraphQL schema conversion starts regardless of its configuration and throw errors due to its limitations"
While trying to update jsonapi-server to 2.3.0 I've encountered some issues:
For the following resource schema
[code]
 I get the following error
[code]
According to ```joiConverter.js``` , it has limitation for non primitive array items - look at ```instructions``` above.
I've tried to remove the ```instructions```, but then i've got this error:
[code]
Now ```responseType``` is making troubles, be

[2016-12-29 15:19] yossialush commented on #239
I see that https://github.com/holidayextras/jsonapi-server/pull/233 has solved it

[2016-12-29 15:19] #239 closed

[2016-12-30 09:34] theninj4 commented on #236
The URL here is incorrect, If you instead lookup the named resource (the one you've console.log'd above) and look within `relationships.photos.links` you'll see:
[code]
The related and self links are slightly different. The reasoning behind this is discussed here: https://github.com/holidayextras/jsonapi-server/blob/master/documentation/foreign-relations.md

[2016-12-30 09:41] futurist commented on #236
Got it, Thank you! I just follow that docs:

And replace people and bookings with people and photos, maybe this docs should updated?

[2016-12-30 09:58] theninj4 commented on #236
Ah, good spot :+1:

[2017-01-04 09:38] #234 closed

[2017-01-04 18:58] shaunc opened #240 "Would it be reasonable to have a hook for a higher-level (graphql) ORM?"
We are building an analytics app, with an ember frontend. We need to support two types of data access: "metadata" -- users, various domain specific objects, etc. and "data" -- stuff we want to do analytics on.

jsonapi-server seems perfect to serve "metadata" to ember. For "data", the graphql interface would be very good. However, for bulk data access, it seems desirable to use something like [joi

[2017-01-05 12:35] theninj4 commented on #240
As of right now, there are no plans to give any special treatment to GraphQL (or JSON:API) in this project. The GraphQL layer (explained a little below)doesn't currently contain the first optimisation (below), but I'd choose implementing it better in this project as a preference over coupling resource handlers to the exposed data interface.

The base querying in this project already contains a num

[2017-01-05 12:35] #230 closed

[2017-01-05 13:29] shaunc commented on #240
Hmm... this might be ok as a default strategy, but without joins it seems to me that you also run the risk of pulling in an arbitrary number of intermediate objects into application memory when traversing a many-to-many relationship which is filtered on the sub-resource. We will be needing to get max 10K-50K of objects back in a graphql query (and use a streaming interface to get them to the clien

[2017-01-05 17:03] theninj4 commented on #240
To be honest, I've not gotten to streaming (or pagination) of data from the GraphQl interface yet. In terms of performance of what's already there, I can share some metrics of one of our internal API's powered by this project, the data is backed by `jsonapi-store-relationaldb`, with a whole bunch of resources in a MySQL database running on a t2.medium in AWS (@ $0.047/hour) and it's currently unde

[2017-01-05 17:04] theninj4 commented on #240
![screen shot 2017-01-05 at 14 31 27](https://cloud.githubusercontent.com/assets/3055120/21689668/ffa0f838-d368-11e6-8685-8e60ac551445.png)

[2017-01-05 17:07] shaunc commented on #240
Thanks!

jsonapi-server is a great fit for what I'm calling "metadata". For what I'm calling "data" we have some specialized needs. As you recommend we may try serving them separately for the moment. I'll get back to you if I figure out anything general.

[2017-01-05 17:07] #240 closed

[2017-01-06 05:58] shaunc opened #243 "schema cannot parse complex objects?"
When I modify example/resources/tuples.js to contain an array of objects, I get an error. I checked that it works with generic "Joi" though, and according to json-api spec: "Complex data structures involving JSON objects and arrays are allowed as attribute values.".

It seems like a bug... but perhaps there is a reason for it? Why not use Joi directly (which seems to be extensible for relationship

[2017-01-06 08:13] futurist opened #244 "Joi object type cannot be converted to graphQL"
When  joi type is `joi.object()`, graphQl seems cannot convert it:

[code]

[2017-01-06 19:39] theninj4 commented on #243
A member of the community kindly implemented array support (we don't have object support in master yet). They added in some build-time throwing of Errors to make the lack of support for objects more obvious (the GraphQl errors are a bit... mind boggling). The errors you're seeing is that validation kicking in.

[2017-01-19 14:45] georgelovegrove opened #247 "Server accepting variables for graphql queries"
Does the server accept variables for querying the graphql server. I've tried using apollo, lokka and even using axios but it won't read the variables id passed to it. Any thoughts?

<img width="501" alt="screen shot 2017-01-19 at 14 42 47" src="https://cloud.githubusercontent.com/assets/6073296/22110999/a2cfe860-de55-11e6-9772-8e0a6c583d36.png">

[2017-01-19 19:42] theninj4 commented on #247
I'm honestly not sure. This project depends on https://github.com/graphql/express-graphql for the GraphQl implementation. There might be a few missing lines of glue in this project to enable / pass-through variables to the right place?

[2017-01-24 10:47] adamlc opened #248 "Filter for begins with"
Hey guys, would you find it useful to have a filter for begins with? I thought about using the "hat symbol" ```^```. I've quickly implemented this locally and it works fine!

If people are interested I can submit a PR. Also do we think this should be case insensitive or not?

[2017-01-28 09:20] Aaronfischer opened #249 "Examples not being loaded into MemoryHandler?"
Had a couple questions regarding setup/config. (I'm pretty awful with dev-ops type stuff but this has been straight-forward so bless you for that!)

The docs make it sounds like as long as `handlers: new jsonApi.MemoryHandler(),` is used in the .define of a resource then anything within `examples: []` will be loaded into the "store". I've setup a few objects into this `examples` array but they are

[2017-01-28 23:55] shaunc commented on #249
Joi doc of `uri()` says:

Is `img` compliant? ... you might want to try:

    DEBUG=jsonApi:validation:error npm start

(or equiv) ... 404 will be generated if there is a validation error I think.

[2017-01-29 04:27] Aaronfischer commented on #249
Hey @shaunc, that was part of it, it also didn't like returning empty strings.

I had assumed some kind of error would be thrown with bad data. I wouldn't have ever guessed to that was the problem. Thanks for the tip! Debug worked beautifully.

[2017-01-29 04:27] #249 closed

[2017-01-30 05:22] Aaronfischer opened #250 "Custom Filtering/query"
I've read over the documentation but I'm a bit hazy on how custom filtering works.
Is there a way to override the automatic handling for something like `?filter[property]=value`?
What would that look like and where would this be done?

To give a more specific example, I have an attribute `temp: ['70','80','90','100'],` of allowable values.
When I make a query like `?filter[temp]=80` I'd like to re

[2017-02-04 12:46] braadworst opened #251 "http2 support"
I am looking for an jsonapi server and this one looks very promising, but I don't see any way to use http2. Is this on the roadmap?

[2017-02-11 03:28] Aaronfischer commented on #248
@adamlc Where'd you "hack"/extend the filtering? I'm trying to see how I can write some custom filtering functionality but I'm not sure where to begin (or even find this).

[2017-02-11 03:28] Aaronfischer commented on #250
Any chance I could get a bit more clarity on this?

[2017-02-11 19:28] ju-Skinner opened #255 "GraphQL"
Is there a way to change the default GraphQL route, either manually or from the configuration?

[2017-02-15 02:07] ju-Skinner commented on #250
@Aaronfischer that would be done on the request to the server. so for instance..

`http://localhost:3000/your_resource?filter[temp]=80` <- that should return return all resources that have a temp value of 80.  You can look here in the test for a specific example https://github.com/holidayextras/jsonapi-server/blob/master/test/get-resource.js#L193-L198

[2017-02-16 00:13] Aaronfischer commented on #250
Hey @ju-Skinner,
Right, that's the request I'm making, the problem is it's not finding a matching value because the data in the database has the temp values in an array. (Not a single value)

So an example of a record in the DB would have 'temp: [70, 80, 90, 100]' which does not find a match because it's not exact.

Is there a way to have this record be returned because 80 is within that array?

[2017-02-16 03:50] ju-Skinner commented on #250
@Aaronfischer Based on the example data I created given your scenario, it doesn't look like this API provides a solution for what you are trying to accomplish.

You can use `>` or  '<', but that will only give you values that are either `>' or `<` your filtered value. i.e `http://localhost:16006/your_resource?filter[temp]=>[90]` will only return results that have temp values above 90. It looks lik

[2017-02-16 06:18] Aaronfischer commented on #250
Thanks for the help @ju-Skinner!

So overriding on a filter to filter, or a resource to resource, basis isn't possible?
How about extending/adding support for something like a `contains`?

I'm not super well versed on the proper syntax, is it possible to extend the /lib/filter.js file and add or only override certain functions to add additional support?

[2017-02-16 13:59] ju-Skinner commented on #250
@Aaronfischer I am sure there is a way; unfortunately, I am unable to get the source code to install locally due to a `v8` issue. If I'm able to resolve my issue, I'll see if I can help you out.

[2017-02-22 19:02] wolfgang42 opened #256 "Config key to disable GraphQL"
#233 introduced the ability to disable GraphQL by passing the option `graphiql: false`. (One example of why this option is useful is #244: there is reported a problem with an interaction between `joi.object()` and GraphQL. I have also encountered this problem, but for the moment do not need GraphQL support and so have turned it off.)

In https://github.com/holidayextras/jsonapi-server/pull/233#iss

[2017-02-22 19:10] wolfgang42 commented on #251
`jsonapi-server` uses [`express`](https://www.npmjs.com/package/express) as its web framework, so that's where HTTP/2 support would come via. expressjs/express#2364 explains that you should attach express to an alternate http server such as `node-spdy` or `node-http2`.

[2017-02-22 21:46] wolfgang42 opened #257 "New filter for [not] null"
I have a need to filter a field for items which are not null. However, there is currently no filter syntax for either null or not null items. I can submit a pull request to add this feature, but I'm not sure what a suitable syntax is. I have thought of either `filter[field]=*exists` or `filter[field]=!*null` (adding the `!` syntax for all filters, not just `*null`), but would like to seek feedback

[2017-03-02 19:25] wolfgang42 opened #259 "Add resource configuration to disable automatic ID generation"
I have some resources whose IDs are integers auto-generated by the database server. I declare them as:
[code]

This causes a problem when I try to create a new ID: a UUID is automatically generated, but then fails validation because it is not an integer.
I therefore propose a new key in the resource definition, `generateId`, which can be set to `false` to disable autogenerating IDs. I have impleme

[2017-03-03 04:08] noelfelix opened #260 "Ability to set page[limit] for included resources"
Apologies if I've overlooked this, but I am wondering if it is possible to set page[limit] params for included resources.

[2017-03-04 19:46] st3xupery commented on #260
I think according to the spec there should be no limit to what's included... as far as my readings tell me in the [spec sheet for pagination](http://jsonapi.org/format/#fetching-pagination). if a particular resource has a many "relationship" of 200 then technically it seems like it should include all of them.

However, the actual enactment of page limits occurs in the handlers, and if you are prog

[2017-03-04 19:56] st3xupery commented on #259
I have my own work around for this as an autoIncrement boolean setting in the resource config. I however check and delete the generated id in my own _data handler_ as such:

`	if (this.autoIncrement)
		delete newResource.id;
`

So technically you can program this behavior without modifying the internals of the server. Obviously the by adjusting to this boolean internally feels a little more elegan

[2017-03-04 20:05] st3xupery commented on #256
Forgive me, but I am a little confused by what you are proposing then is different than the way the setting is handled now by the PR resulting from #223. graphiql:false is not the default but will turn off graphiql.

[2017-03-09 19:03] jessevarnado commented on #256
I agree with @wolfgang42 that we need to be able to toggle GraphQL support independently from GraphiQL support. Per the suggestion in [express-graphql](https://github.com/graphql/express-graphql#options), `graphiql` should be turned off in environments other than development. My project makes use of jsonapi-server's GraphQL functionality in all our environments, but we would like to turn off suppo

[2017-03-19 13:49] flyingbuddha opened #263 "package.json requires eslint-plugin-promise twice"
Hello 👋,

`eslint-plugin-promise` is defined twice in package.json with conflicting version numbers.
In dependencies it's listed as **^3.3.0**, whilst in devDependencies it's listed as **^2.0.0**.

What is the correct course of action? I feel that it should be removed from dependencies and the version bumped to **^3.3.0** in devDependencies.

[2017-03-29 11:24] Dome-GER commented on #250
Any news on this? I need this too. We have list of subjects stored in an array and need to filter for them.

[2017-03-29 14:35] Aaronfischer commented on #250
@dome-ger I forked and came up with a solution, eventually I may create a PR. Basically it allows ":term" to search within arrays.

https://github.com/Aaronfischer/jsonapi-server

[2017-03-29 15:54] wolfgang42 commented on #250
For whatever it's worth, I wound up having to override `jsonapi-server`'s filter handling (for backwards compatibility with an existing API). Here's how I did it:

First, rename `filter` to `_filter` before configuring `jsonApi`:
[code]

Also, each model needs to declare `_filter` as a supported parameter:
[code]

Now the handler can use `request.params._filter` to do whatever it wants to the resu

[2017-04-11 02:56] jmeas opened #265 "Bulk writes"
How would you recommend supporting bulk write endpoints (from the JSON API interface, rather than GraphQL)?

I understand that JSON API does not define bulk writes ( https://github.com/json-api/json-api/issues/795 ), nor extensions ([yet](http://jsonapi.org/extensions/)), but the requirements of certain web apps necessitates that unofficial "extensions" be made.

To provide an example of when this

[2017-04-11 03:14] jmeas commented on #231
The type of detail may be loosely implied by the specification, but it's made quite clear [in the schema](https://github.com/json-api/json-api/blob/509ee949c621cee5683c959d4268386e1a592b83/schema#L356). Is this library not validating its output against that schema? If so, it should be!

The solution to the particular example in this issue is straightforward, I think: map each validation error to i

[2017-04-11 07:08] #263 closed

[2017-04-11 07:09] pmcnr-hx commented on #263
Apologies for the late reply @flyingbuddha. Just merged @jmeas's kindly contributed pull request to fix this.

[2017-04-15 15:15] st3xupery opened #269 "Sparse Fieldsets Compliance"
When specifying particular fields for a resource, the system seems to ignore filtering relationships, including them all regardless of the client's requests. This does not comply with the specification sheet [here](http://jsonapi.org/format/#fetching-sparse-fieldsets)

Additionally, the term fields does include relationships as can be seen [here](http://jsonapi.org/format/#document-resource-object

[2017-04-20 07:36] MidnightWonderer opened #273 "question: writeonly attribute"
I am wondering how to deal with write-only attributes. e.g. password field?

[2017-04-27 22:43] Benny- opened #279 "Binary attributes"
Binary attributes are supported by Joi, but not by jsonapi.

Example resource:

[code]

Results in the following error when using `npm start`:

[code]

[2017-04-27 22:48] Benny- commented on #279
What changes to the code are needed to make this work?

[2017-04-30 17:05] Dome-GER opened #280 "Filtering options for arrays"
In our project, we're using arrays, i.e., an array of subjects which are strings validated as follows:
 `subjects: jsonApi.Joi.array().items(jsonApi.Joi.string().required())`

Now we'd like to filter for items matching **one-to-one**, **one of two or more given arrays**, or which **include** some specific values.

As far as we know, only the following works:
`?filter[subjects]=["Mathematics"],["Ph

[2017-05-01 17:12] paparomeo opened #282 "Reduce test matrix to a single job"
The cost of setting up a build container for nearly instantaneous task like `lint` and `nscpd` makes the builds slower. Consolidating the builds into a single step will speed up CI.

[2017-05-01 17:21] paparomeo commented on #279
JSON and GraphQL don't support the binary type, so serialisation support for binary values would have to be implemented. We should have a better error during validation for unsupported types, like binary, though.

[2017-05-01 17:28] paparomeo commented on #273
Your best option is to write a [custom handler](documentation/handlers.md). Could that be a solution for your use case?

[2017-05-01 17:46] pmcnr-hx commented on #251
What @wolfgang42 said, @braadworst. Does that sound like a solution for you?

[2017-05-01 18:09] #282 closed

[2017-05-02 07:17] Benny- commented on #279
Nah, I'm good now. I changed my implementation to a URL string which points to a remote file.

[2017-05-02 10:47] pmcnr-hx commented on #279
Thanks for the update @Benny-. Closing this.

[2017-05-02 10:47] #279 closed

[2017-05-02 23:10] MidnightWonderer commented on #273
@paparomeo I mean in terms of resource definition. (for instance "readonly" meta)
CustomHandler for sure have to be created.

[2017-05-05 00:37] ju-Skinner opened #283 "child `id` fails because ["id" is required]"
Yes, this sounds pretty trivial, but I am loading data from a large dataset via `mongoimport`. It is creating the internal `_id` using ObjectId. What I have seemed to discover that doing the data load this way, it doesn't process the data the same way in which it would be done via a "Post" passing individual records.

I am currently using `jsonapi-store-mongodb`. There is an issue with that handle

[2017-05-05 14:39] laurieb opened #284 "Simultaneous posts to a resources relationships not all succeeding"
Hi,

First - thanks for open sourcing the server, we love it!

Second, I'm trying to work through a tricky bug in our system and I wanted to ask a question here to see if you guys had any knowledge that might help.

* First I create a resource called `campaign`
* then I simultaneously create three or four `person` resources
* then nearly simultaneously i post those person resources to the relation

[2017-05-15 12:28] mirovelk commented on #206
I was hoping to use jsonapi-server as a frontend mock server for existing public json api. However it's using hyphens in resource names so I am unable to do so (because of the camel case restriction). Changing the api is not an option. Are there any plans to fix this? Updating documentation doesn't seem like a proper solution to me. Looks like this issue was kind of forgotten after adding document

[2017-05-18 16:16] maxschmeling opened #285 "GraphQL update operation not possible"
Updating objects using the GraphQL interface seems to be broken because of this line:

https://github.com/holidayextras/jsonapi-server/blob/c6822911d2bd30cc2e6578cff855bf591b91eb08/lib/graphQl/resolvers.js#L33

It references `args.tags.id`. `args.tags` is `undefined`.

Is this something I'm missing because I'm extremely new to GraphQL or is this just completely broken? It seems like `tags` should

[2017-05-19 13:36] rbriois opened #286 "Typescript implementation of jsonapi-server"
I've found your project and have begun to play a little with it.
We are certainly going to use it on our projects.

however, we are using Typescript and we are wondering if you are willing to make a typescript version of it or just the needed typings for a good integration.

Thanks in advance for your responses (and sorry if my english isn't accurate)

[2017-05-21 12:04] pmcnr-hx commented on #286
We don't have any plans to re-implement `jsonapi-server` in TypeScript and it would not make sense to maintain both a JavaScript and a TypeScript version.

Maintaining the typings for ease of integration with TypeScript sounds like a good idea, and you're welcome to contribute a PR with those which would certainly consider for merging.

[2017-05-21 12:04] #286 closed

[2017-05-21 12:07] pmcnr-hx commented on #285
Can you provide a specific example that is failing? We have some tests covering GraphQL updates, which are passing, so it's hard to believe it broken for all cases.

[2017-05-21 12:11] pmcnr-hx commented on #284
Apologies for the late reply @laurieb. What specific error are you getting for the failure cases?

[2017-05-21 12:18] pmcnr-hx commented on #283
Apologies for the late reply @ju-Skinner. I'm going to merge the `jsonapi-store-mongodb` PR and then we can figure out if your issue is with the data store or generic to the `jsonapi-server`.

[2017-05-21 17:18] pmcnr-hx commented on #251
Closing as we haven't heard from @braadworst and @wolfgang42's comment provides a solution.

[2017-05-21 17:18] #251 closed

[2017-05-22 03:19] maxschmeling commented on #285
I believe it will fail anytime `resourceConfig.resource` is not `tags`. I could be missing something, but it seems hard-coded to work only for a resource called `tags`.

[2017-05-22 03:20] maxschmeling commented on #285
If I change
[code]
to
[code]
then my updates work.

[2017-05-22 21:00] pmcnr-hx commented on #285
Thanks for the clarification @maxschmeling. I'll take a better look at the code and I'll come back to you.

[2017-05-22 21:19] pmcnr-hx commented on #285
You are absolutely correct @maxschmeling. GraphQL support is still a bit immature and indeed the above was hardcoded for our automated tests which explained why the test passed. Would you like to submit a PR with the fix you propose above, so you get the credit? If not I can do it myself, but I would prefer if the commit came from you.

Thanks again for reporting the issue, diagnosing the problem

[2017-05-23 14:04] maxschmeling commented on #285
Awesome. Glad I could help.

I'll put together a PR today.

[2017-05-26 07:52] cahva opened #290 "Creating new resource with relationship triggers related resource's beforeCreate method"
First of all, I want to thank you guys for great work! Now to the issue I'm having..

I have 2 resources `users` and `apikeys`:

### users
[code]

It has userHandler chained where I turn user's password to hash in beforeCreate and beforeUpdate.

### apikeys
[code]

Now when I want to create a new apikey for the user, I send the request (user with that id already exists):

**POST /api/apikeys**
[co

[2017-05-30 10:52] oliversalzburg opened #293 "Resource documentation unclear"
The [resource documentation](https://github.com/holidayextras/jsonapi-server/blob/master/documentation/resources.md) mentions an `examples` section. But the purpose is not made clear.

[2017-05-30 12:33] oliversalzburg commented on #293
Okay, now I see it:

That page could benefit from being restructured.

[2017-05-30 12:33] #293 closed

[2017-06-01 00:21] paparomeo opened #295 "Support Node.js 8"
Dev dependency on `v8-inspector` which in turn depends on `v8-debug`, which fails to compile on Node.js 8 is preventing us from support Node.js 8.

[2017-06-01 00:44] #285 closed

[2017-06-02 08:09] cahva opened #298 "Using the same chainhandler in multiple resources."
I don't know if this is more a documentation issue or a bug but it's a critical one.

Let's say that you want to have authentication handler in all of your resources which is what you have to do to determine if user is entitled to fetch/update/delete the resource.

I'm using the example server here to demonstrate what happens when you use the same chainhandler in two resources:

__Articles resourc

[2017-06-07 13:30] bouncesofftrees opened #299 "Defining a resource from a JSON.parsed string fails"
What I am trying to do:
Serialize a resource definition object, persist it. At initialization, read string and JSON.parse it. Use the deserialized resource definition to define a route.

 I am finding that the attributes object must be recreated in code...the parsed JSON version of the attributes object causes an internal error when client calls that route.
{
  "jsonapi": {
    "version": "1.0"

[2017-06-15 14:37] oliversalzburg commented on #244
It also can't handle `.any()`.

[2017-06-19 16:40] todoesverso commented on #290
I am having the same issue.

Basically if using require/import of a chain handler, then any resource using a chain handler will go thru all existing handlers.

It definitly looks like a critical issue to me.

[2017-06-20 13:02] todoesverso commented on #298
This would be a great feature. Chain Handlers like "addTimeStamp" or "jwtAuth" or several others would be great to be able to re use them.

[2017-07-03 08:57] SphtKr commented on #219
Ditto to this, I have an application where the main interface will be JSON:API, but I also need to be able to create one kind of resource anonymously via `multipart/form-data` POSTs. I retrieved the jsonapi-server's router and added a route for this, but now I need to turn around and format and submit JSON:API requests via HTTP to localhost...which seems...wasteful. I also have to find the related

[2017-07-12 06:40] ashishtilara opened #303 "Inserting Multiple objects using POST"
Hi,

Can someone point me towards the documentation which show how can I setup my apis so it allows multiple objects to be sent in one POST request please.
so instead of,

[code]

it allows

[code]

cheers.

[2017-07-12 10:47] cahva commented on #303
AFAIK the jsonapi specification does not allow creating of multiple resources. The best documentation is the specification itself :)

[2017-07-13 11:59] olosegres commented on #303
@cahva, I use specification in big production project, and this possibility would be very useful. No problems if use in combination with UUID. I think it should be added to next version of specification

[2017-07-14 04:24] SphtKr opened #304 "Authentication with Passport sessions not possible"
Thanks for this library, I'm very optimistic that it's going to fill my needs for a wide variety of applications.

I can't figure out though how it is possible to do authentication using sessions (especially) with Passport--which I think would probably be a common use case. This is how I am hooking up Passport:

    ...
    var app = jsonApi.getExpressServer();
    app.use(cookieParser());
    app

[2017-07-14 11:34] cahva commented on #304
Your api should be stateless and you should use for example Json webtoken(jwt) in the header.

For getting the token (authentication), create a separate route where you have passport middleware. On succesfull authentication return token to user. Passport is only used on this stage. In jsonapi.authenticate you will validate and decode the token. In this stage you can fetch and set the user to reque

[2017-07-14 14:29] adamlc commented on #304
Alternatively you could use something like [Kong](https://getkong.org/) to deal with the authentication. We're using both kong and jsonapi-server in production quite happily 👍

[2017-07-15 04:28] SphtKr commented on #298
I may be missing something, but you just want to reuse the code, it's not important to reuse the same actual object, right? I read this issue before trying this myself (thanks!), and while I may be too early in my app to be able to see it, I tried this way and I *think* I'm being able to reuse an `authenticationHandler` just fine. I changed the way that the `authenticationHandler` module creates t

[2017-07-17 04:15] SphtKr commented on #206
Yes I think this may have been forgotten. I am--FWIW--fine with leaving the behavior as is, as long as there's a workaround and it's documented. The problem I'm hitting is that the guide link @adamlc referenced covers how to fix this for attribute names but not for resource names/URLs. I'd already done the former but I haven't yet figured out how to do the latter. That is, I have a resource with a

[2017-07-18 19:33] SphtKr commented on #304
@adamlc Ooooh... Kong looks awesome!...unfortunately I don't think I can use it in the environment this time.

@cahva Ah...okay, did the research, read all the "tokens vs. cookies" stuff, and I think I get it now. Tried a JWT based authentication data flow and it works. Thanks!

There's an argument that the same issue/reasoning behind my original request applies for using something like `passport-

[2017-07-18 19:33] #304 closed

[2017-07-21 18:17] dorothythurston opened #309 "Routing /containers/:containerId/items/:itemId possible?"
Hello! Apologies if I have misunderstood the documentation but I am trying to understand what is the best way to achieve a route for my resource similar to this format /containers/:containerId/items/:itemId. I have read through the relationships documentation but it seems like this requires having the keyword /relationships/ in the URL. Is there a supported way to define a nested resource without

[2017-07-30 21:42] heller166 commented on #298
This is a problem for me as well. Is this a bug or are we just missing how to use handlers properly?

[2017-07-30 22:48] heller166 opened #310 "Adding Chain Handler on beforeCreate results in UNKNOWN error"
I'm using the following empty chainHandler

[code]
and defining the following table:

[code]

And I'm getting the following response when I try to create a record via POST request

[code]
Here are the contents of the request

[code]

Here is a PR with a reproduction of the error: [ChainHandlerErr](https://github.com/heller166/jsonapi-server-chainhandler-error.git)

[2017-08-09 09:27] adamlc commented on #298
This isn't a bug, its how node loads modules. Returning a new instead from a function like @SphtKr has done should work 👍

[2017-08-30 22:28] gnapse commented on #231
I am confused because in my experience with the sample app provided in this repo, not even the regular response I get is jsonapi-compliant. I don't get the objects with the `attributes` section and the `relationships` section, and I don't see the related objects described with just the type and id, and then the actual objects in the `included` area. I see a regular json where objects are just put

[2017-09-12 15:54] vnen commented on #295
This is specially important now since Node.js 8.x is about to enter the Active LTS status.

[2017-09-12 21:25] paparomeo commented on #295
I concur. I think we're going to have to disable our `v8-inspector` dependency for now.

[2017-09-13 03:33] vnen commented on #256
Any progress on this? I think it's very important to have those options separated. I want to use GraphQL on the server, but Graph*i*QL should be disabled on production.

[2017-09-13 06:45] pmcnr-hx commented on #256
Thank you for the reminder @vnen. I'll merge later today.

[2017-09-13 06:47] pmcnr-hx commented on #256
I concur that GraphiQL should be disabled in production. I'll look into this again today @vnen.

[2017-09-13 22:32] #298 closed

[2017-09-13 22:35] pmcnr-hx opened #313 "Date property support"
Some of our users are using `Date` properties which I seem to remember had some issues. Verify that `Date` properties are being properly supported and add appropriate test coverage.

[2017-09-19 22:48] pmcnr-hx commented on #295
The `node-inspector` dependency was the culprit after. Removed and now Node.js 8 is supported in the latest release after #316. Closing.

[2017-09-19 22:48] #295 closed

[2017-09-22 00:54] aledalgrande opened #318 "Adding a route/handler for a different format"
Hi, the project uses the JSON-API format for most of the logic, but there are some exceptions, like a downloadable CSV format of certain resources. How would I handle this in `jsonapi-server`? When I add a router to the Express app I got from `jsonApi`, it doesn't work. Also I get only this error, which is not helpful:
[code]
Does this library swallow the errors of custom routes?

[2017-09-26 20:40] aledalgrande commented on #318
The route worked, problem is the generic error handler of this library was set for Express, so I thought it was going through the default JSON API route. Commenting out the error handler in the library gave me access to the real error.

I guess it would be nice to be able to override the JSON API error handler or fire it only when the headers are right.

[2017-09-26 21:00] aledalgrande commented on #318
Keeping it open to keep track of the feature request.

[2017-09-26 22:40] aledalgrande commented on #318
This is also swallowing connection errors from the related `jsonapi-store-relationaldb` package. Errors could be easily shown with a log line in `responseHelper.generateError`.

[2017-09-28 12:26] championswimmer commented on #259
would so totally love to see this happening

[2017-09-29 05:19] championswimmer opened #321 "Support non-uuid ids (integer ids, especially)"
Allow using integer autoincrement ids, like most SQL databases prefer.

Right now a bit of monkey patching around a handler as said (on #320 and #259 ) can help us with this, but it isn't fully supporting GraphQL. (Validations fail, searches fail).

[2017-09-29 23:04] paparomeo commented on #321
@championswimmer: I'm willing to merge #320 if we add some test coverage to it.

[2017-10-03 12:08] championswimmer opened #322 "adding searchParams has no effect on swagger docs"
searchParams are not added to swagger.json

[2017-10-03 12:08] championswimmer opened #323 "filter does not work correctly on swagger"
the correct way in JSON:API is `filter[key]=value`
What swagger does is `filter=value`

[2017-10-16 23:04] paparomeo opened #324 "npm run performance broken"
It has been broken since we introduced GraphQL (da39e485d9375260f753fba8a1118296307f5840).

[2017-10-25 05:45] Ayelit opened #329 "Creating Resources- Response of `202 Accepted`"
Hello,
Do you support returning `202 Accepted` response for creating a resource?

In our project, we have an async resource creation, and by JSONAPI format we need to return `202 Accepted`- [crud-creating-responses-202](http://jsonapi.org/format/#crud-creating-responses-202).

Thank you

[2017-10-25 22:54] wolfgang42 opened #330 "Why do schema validation errors not return an error to the client?"
If a handler returns an invalid object, it is silently discarded by `responseHelper._enforceSchemaOnObject()`, with the only warning being a debug message. This causes a great deal of confusion when items silently go missing from responses. Is there a reason that it's set up this way? It makes much more sense to me that this would cause an error, something like:
[code]

I'd submit a pull request,

[2017-10-27 22:24] paparomeo commented on #330
I agree that the object shouldn't be discarded silently. Please feel free to submit a PR to fix this and we'll make a new major version release since this is a breaking change.

[2017-10-28 19:38] wolfgang42 opened #333 "yarn.lock is out of date"
A `yarn.lock` file was added in 6abfce04595284f0ce7171d1086dfdd9098582ab, but it has become out-of-sync with the `package.json` file, for example because #327 has been merged but Greenkeeper only updated `package.json` and not `yarn.lock`. It looks like [geenkeeper-lockfile](https://github.com/greenkeeperio/greenkeeper-lockfile) is included in the `.travis.yml` configuration, so I'm not sure why t

[2017-10-29 10:28] paparomeo commented on #333
I'm wondering if `greenkeeper-lockfile` is not doing it's work. I've just checked and `package-lock.json` hasn't been updated either. I'm going to look into the Greenkeeper documentation and try to fix it. Thanks for the heads up.

[2017-10-29 11:59] pmcnr-hx commented on #333
I'd forgotten to add the `GHUB_TOKEN` variable to Travis. That should be fixed. I'll keep an eye on the next Greenkeeper PR to see if it's updating the lockfiles correctly.

[2017-10-29 12:00] paparomeo commented on #333
I'd forgotten to add the GHUB_TOKEN variable to Travis. That should be fixed. I'll keep an eye on the next Greenkeeper PR to see if it's updating the lockfiles correctly.

[2017-11-01 15:57] wolfgang42 commented on #256
@pmcnr-hx Did you ever have a chance to look into this?

[2017-11-02 00:10] paparomeo commented on #256
@wolfgang42: it's been a busy week but I'll definitely have a look at this until the end of the week.

[2017-11-03 15:34] #330 closed

[2017-11-10 11:57] nojacko opened #338 "Sorting by multiple fields"
Currently sorting is only available on one attribute. I was looking to add sorting by multiple attributes.

I was planning on doing it using CSV, similar to includes and filters.

i.e. `sort=-attr_one,+attr_two,-attr_three`

Is this something you'll be cool with if I get it working and make a PR?

[2017-11-12 18:10] challarao commented on #121
@jcteague
Hi John,

Were you able to solve this problem?

Thank you

[2017-11-13 01:09] Jordan4jc opened #340 "I keep getting a 503 from my resource with custom handler"
I'm trying to make a custom handler that will handle my resource for making a PDF, but I keep getting a 503 in my response

I'm only implementing `POST` here because that's all I'll be using

[code]

Right now I'm just trying to get it working. Why am I getting this error? If I switch to using a real handler like the `mongodb` on it works, but just not with a custom handler

[2017-11-14 05:03] paparomeo commented on #340
Can you show me the full code for your custom handler so I can test it locally?

[2017-11-14 05:08] paparomeo commented on #338
Yes, that would definitely be a welcome contribution. Have a look at what the [spec](http://jsonapi.org/format/#fetching-sorting) says about sorting. It's pretty much your proposed format but the `+` is implicit instead of explicit.

[2017-11-14 05:20] paparomeo commented on #333
I'm going to remove the yarn lockfile, since `greenkeeper-lockfile` doesn't seem to explicitly support both `npm` and `yarn` lockfiles, and try to fix the build just for `npm`.

[2017-11-14 05:56] #259 closed

[2017-11-14 06:38] pmcnr-hx commented on #321
Can we close this now that #320 has been merged @championswimmer?

[2017-11-14 10:17] paparomeo commented on #329
We currently don't since all the existing handlers create the resources synchronously. You are absolutely right that the JSON:API spec mandates a `202 Accepted` response if the resources are created asynchronously. The handlers should have an `async` attribute (or something similarly named) so the server can decide whether to return a `201 Created` or a `202 Accepted`. A PR for this would be welco

[2017-11-14 11:11] paparomeo commented on #121
Is this something now covered by the spec @challarao?

[2017-11-14 14:22] Jordan4jc commented on #340
https://gist.github.com/Jordan4jc/73f721482cf826218a5fc13a6bd23f8e

[2017-11-14 15:23] challarao commented on #121
Hi @paparomeo

I don't think so. Also, there is something misunderstood about JSON API.

JSON API is intended standardize JSON usage across apis. But I thought it has something to do particularly with pure REST/HATEOS REST. It doesn't seem to be its goal.

Also, there is no mention of REST at all in jsonapi.org. Hence the problem is solved :)

Thank you

[2017-11-14 17:29] wolfgang42 opened #343 "Joi@13 not compatible with Node@6"
Commit 784180d906a5ee4e6aefdc3feaae2ffc5c3b97fa specifically downgraded joi to continue Node 6 support, but #342 upgraded it again. It seems that CI didn't catch this because NPM doesn't check this for dependencies [unless `engine-strict` is set](https://docs.npmjs.com/files/package.json#engines). Yarn, however, *does* check regardless of `engine-strict` and will refuse to install jsonapi-server b

[2017-11-15 11:09] paparomeo commented on #343
Yes. That was one of the reasons why I had start using `yarn` in parallel with `npm`. I'm going to enable `engine-strict` for `npm` so this doesn't happen by accident in the future.

[2017-11-15 19:00] #343 closed

[2017-11-15 20:18] paparomeo commented on #340
One of the issues you have with your `search` method is that it needs to return an Array. I'm working on a PR which will make this explicit rather than failing with the generic error. Anyway try to change it to return an array with a single element and you should be able to progress.

[2017-11-17 09:21] hpawe01 opened #345 "Skip already set headers on server initialization"
Hello,

I use the possibility to modify the Express server before starting it as described in https://github.com/holidayextras/jsonapi-server/blob/master/documentation/configuring.md#gaining-access-to-the-express-server

For example, I need cookie-authentication and have to add some headers:
[code]

But the header `Access-Control-Allow-Origin` gets overwritten during the initialization of the json

[2017-11-17 10:55] paparomeo commented on #345
It makes sense that already set headers are not overwritten. Please feel free to submit a PR, it would be appreciated.

[2017-11-19 20:38] Jordan4jc commented on #340
[code]

I'm getting this output in postman

[code]

[2017-11-19 23:43] paparomeo commented on #340
Try running the server with `DEBUG` environment variable set to `*` (e.g. in bash: `DEBUG=* npm start`). That should provide you debugging output which will make clearer what the problem is.

[2017-11-20 00:02] Jordan4jc commented on #340
I see it's complaining about there not being an `id` property set.

Is there a way I can specify a route handler through express and break out of these jsonapi requirements for just this one route since it's such a specific usage? I tried grabbing the express server and attaching a route handler after doing the `readdirSync` but it doesn't seem to be doing anything

[code]

Maybe this isn't possib

[2017-11-20 13:40] hpawe01 commented on #345
@paparomeo, I created a fork, implemented the check and added a test ( `tests/custom-middleware.js`): https://github.com/hpawe01/jsonapi-server/commit/e6d3b77097b6d9ecf51d77c7af170a75f7d8c852.

The single test succeeds (`npm test -- --grep headers`), but not together with the others (`npm test`). When I change the filename of the test to `0custom-middleware.js`, the test is executed at first and i

[2017-11-20 23:56] paparomeo commented on #345
Thanks for the PR @hpawe01. I'm trying to solve some other more urgent issues, but I'll have a look at it as soon as possible.

[2017-11-20 23:59] paparomeo opened #346 "`brokenResponse` example makes relationaldb handler tests fail"

[2017-11-29 12:41] yossialush opened #350 "Swagger autogeneration has support for non primitive attributes?"
While trying to generate swagger file for the following resource:
[code]

I got this definition in swagger file:

[code]

Now, you can see that `objectProperty` is missing `properties` with definitions of its properties `prop1` and `prop2`. And `arrayProperty` is missing `items` with its items definitions.

I'd expect it to look like this:
[code]

Is there any plan for swagger autogeneration to su

[2018-01-12 20:35] prshreshtha opened #359 "Dash (-) not supported in resource name"
The resource and attribute names are checked against the regex `/^[A-Za-z0-9_]*$/`. Is it possible to also support `-`, i.e. `resource-name-is-like-this` format? It could just be as easy as changing it to `/^[A-Za-z0-9_\-]*$/`.

[2018-01-15 15:16] pmcnr-hx commented on #359
I will have to check the spec to see if `-` is allowed. I'll come back to you on this one.

[2018-01-16 00:35] prshreshtha commented on #359
We see [here](http://jsonapi.org/format/#document-resource-object-identification):

Which says

The requirements in the spec are pretty clear and should be simple to extract into a function instead of a regex test. Let me know what you think.

[2018-01-20 20:00] pmcnr-hx commented on #359
You are correct @prshreshtha. You're welcome to submit a PR for review and eventual merging.

[2018-01-20 21:17] prshreshtha commented on #359
Sounds good. I'll make one soon.

[2018-01-22 19:50] jstafford opened #365 "no way to set options for body-parser json"
body-parser offers a wide variety of options as documented at https://github.com/expressjs/body-parser#bodyparserjsonoptions

In particular I would like to set the json limit parameter to be larger than the default 100kb.

In my use case I have a recursive data structure that can sometimes be over 100kb.

I thought that perhaps I could override this somehow in express, but I have yet to find a way

[2018-01-23 23:59] prshreshtha commented on #359
It looks like GraphQL does not support dasherized field names. Any thoughts @pmcnr-hx?

[2018-01-24 17:45] paparomeo commented on #365
I concur we should be able to pass these to option to Express. Thanks for your PR to address this. I hope to review and merge it soon.

[2018-01-24 17:49] paparomeo commented on #359
Ah yes. I seemed to recall there was a reason not to support it. One options is to replace the `-` with `_` on the fly. The other one is to disable GraphQL support if you prefer to use just use JSON:API with `-` on the names. I don't think GraphQL support should prevent us from fully supporting the JSON:API spec. Which option do you prefer?

[2018-01-24 18:21] prshreshtha commented on #359
@paparomeo there are trade-offs here. I don't think replacing `-` with `_` will work without breaking the API since `my-resource` and `my_resource` will collide. I think the ability to disable GraphQL support to take full advantage of JSON:API is the way to go and document the stricter requirements when using GraphQL. This definitely needs some research.

[2018-01-30 16:55] BryanHunt opened #368 "ChainHandler needs way of getting resource"
I'm working on a ChainHandler that does authorization at the object level.  In order to check authorization on update and delete, you must first get the current resource from the database.  Right now, my ChainHandler opens a direct connection to MongoDB to read the current resource.  It would be nice if there were a function call to retrieve the resource within the ChainHandler without having to k

[2018-01-31 21:01] paparomeo commented on #368
That sounds reasonable @BryanHunt. Pull requests are welcome: would you care to submit one to implement this functionality?

[2018-02-02 17:15] repl-chris commented on #219
Has there been any movement on this?  Is this possible?  This library looks awesome, and I would love to use it for my API gateway+lambda-based API.  Would this approach require APIG to basically shovel all the requests through to one monolithic lambda which serves the entire API? or would it still be possible to run individual lambdas for each resource/method/whatever?

[2018-02-05 01:08] paparomeo commented on #219
@repl-chris, conceptually you _should_ be able to have individual lambdas. In practice it will probably not work with the current implementation. Have you experimented at all with running the (monolithic) server in a lambda?

[2018-02-05 04:18] repl-chris commented on #219
No, unfortunately I haven’t had much of a chance yet...I‘m quite new to this ecosystem so I’ve mostly just been playing with express...it is on my todo list tho :)

[2018-02-06 02:23] BryanHunt commented on #368
As I looked at this further, there's not a good solution.  While there's a simple way to get the last handler in the chain, you have to construct a request object to use it, and you are limited to getting only the resource type you are currently acting on.

Ideally, there should be a generic API to resources that is independent of the request and could be easily formed by logic that knows nothing

[2018-02-06 02:28] BryanHunt opened #372 "Add support for embedded objects"
We have a use-case where we need to use embedded objects.  According to the JSON-API spec:

When we try to create a schema containing an embedded object, we get:

[code]

[2018-02-07 11:13] championswimmer commented on #372
Can you provide an example  of your resource config and what object you want to store ?
I am working on a fork of this https://github.com/coding-blocks/jsonapi-server/
I would be interested in supporting object attributes

[2018-02-07 11:16] championswimmer commented on #350
we need to use swagger 3.0 (openapi 3.0) to support the full spec of JSON:API

[2018-02-07 11:17] #321 closed

[2018-02-07 20:53] pmcnr-hx commented on #368
Thanks for looking into it @BryanHunt. At some point it would definitely be interesting to re-architect the core functionality to be independent of requests and provide hooks to customise it. However like you noted that won't be a trivial task.

[2018-02-07 20:53] #368 closed

[2018-02-07 20:57] pmcnr-hx commented on #372
Can you please provide a example of your schema @BryanHunt? We're still using an older version of Joi to support Node.js v6, but I've been working on moving to v8 + transpilling to support v6, which would allow use to use the latest version of Joi which will probably support your use case. Anyway, if you can provide an example I can have a more detailed look at this.

[2018-02-07 20:59] pmcnr-hx commented on #365
Closing this now that #366 has been merged.

[2018-02-07 20:59] #365 closed

[2018-02-07 21:00] paparomeo commented on #359
Thanks for the investigation @prshreshtha. I should have some time soon to look into adding support for disabling GraphQL.

[2018-02-19 17:23] olivierchatry opened #376 "why is "self" is different from "related" ?"
Using JSONAPI with ember, and it seems for some reason to bails on relationships query, because ember is using the "related" link instead of the "self".
[code]

If I user the `related` link in postman, server return 403 ( relationship not valid for search ).

[2018-02-19 18:23] olivierchatry commented on #376
Just read the documentation, and I understand now. But wouldn't it be better to just give the link with the actual id ( that is in the data ), rather than a filter ( that is not supported by the server ) ? Or I am missing something ?

[2018-02-19 19:08] olivierchatry commented on #376
And closing the issue, it was my handler that was doing stupid stuff. Sorry.

[2018-02-19 19:36] olivierchatry commented on #376
actually reopening, why does the server remove all foreign keys from the processed date ?
[code]

[2018-02-20 06:52] Aaronfischer opened #377 "Additional Examples (for Handlers)"
Hello,

I was able to get up and running with this and its been in production on a very very small api, just 1 resource, I'd like to expand it but I'm a bit lost at how to do that. The `/examples/**` are a bit sparse when it comes to /handlers. (Really just: `module.exports = new jsonApi.MemoryHandler()` which isn't particular helpful) I'd love to see a few examples of how to override/customize `s

[2018-02-20 10:34] olivierchatry commented on #376
And again, sorry, just read the documentation about relationships, and it just hit me why :) Closing the task and again sorry.

[2018-02-20 10:34] #376 closed

[2018-02-20 16:21] BryanHunt commented on #372
Here's a specific use-case I'm about to have:

[code]

In this specific use-case, a notification contains an array of tags that are key:value pairs where the keys and values are arbitrary (user defined).  The keys are restricted to strings, but the values could be strings, numbers, etc.

Here is another example use-case:

[code]

[2018-02-25 01:45] wgator opened #381 "Set default page limit on the resource"
We're using this option to control the size of the page when its not explicitly passed through request params, setting it as an additional resource option:

[code]
This of course could be achieved on the handlers, but I think makes sense let this be a resource option since a private default value is already being applied by the pagination.validatePaginationParams method.

The implementation is pre

[2018-02-27 19:46] paparomeo commented on #377
I'm sure we can help @Aaronfischer (and in the process improve the documentation). Do you have any particular use cases in mind? Do you have a particular data store in mind?

[2018-02-27 19:49] paparomeo commented on #372
Thanks for providing the example. I'm planning on spending some time next week on the project so I should be able to look into updating Joi and see if we can support your use case.

[2018-02-27 19:51] paparomeo commented on #381
It looks like a reasonable extension of the resource definition @wgator and I'd be glad to merge a PR for this functionality if you'd care to submit one.

[2018-02-27 19:55] paparomeo commented on #376
No worries @olivierchatry. Apologies for not getting back to you sooner. Glad you figured it out!

[2018-02-27 20:14] olivierchatry commented on #376
If it is of any interest for someone, here is my firebase adapter : https://github.com/olivierchatry/jsonapi-store-firebase

[2018-03-05 16:29] BryanHunt commented on #257
I just encountered this and it's now blocking me.  I need to find objects where a relationship does not exist.

[2018-03-05 20:06] wolfgang42 commented on #257
I wound up building my own custom filter handling, overriding jsonapi-server's filtering entirely (for various reasons not entirely to do with limitations of this library), so I won't be contributing a PR for this as I originally stated. However I still think it is a useful feature to have.

Here's the syntax I settled on:

    filter[field]=value
    filter[field][exists]=true
    filter[field][i

[2018-03-06 13:12] ephrin commented on #136
@pmcnr-hx JFYI `-` is not valid character on resources.
@BryceCicada you can try to add static resources with relations to other resources that will be disposed as static identifiers in the system. But, still, a lack in naming of types (type vs path) will cause a mess with definitions.

[2018-03-12 15:42] BryanHunt opened #387 "Add support for external references"
I have several use-cases where a resource has a reference to a resource managed by another server.  I can get the reference to work by defining a dummy resource, but it would be nice if there were built in support for this.  Maybe something like:

`owner: jsonApi.Joi.one('users').external()`

[2018-03-15 20:28] queenvictoria commented on #359
You can already do this. `graphiql: false` in the options.

[2018-03-15 21:12] prshreshtha commented on #359
@queenvictoria You are correct that #256 does cover part of this issue. It is a pre-requisite to supporting dasherized names. But I don't see any work done for it.

[2018-03-23 12:46] championswimmer opened #389 "additional parameters are not concated"
Check here
https://github.com/holidayextras/jsonapi-server/blob/master/lib/swagger/paths.js#L290

wrong
[code]

should be

[code]

[2018-03-24 18:00] vnen opened #391 "Normalize trailing slash for collection on self links"
It's usual for collections to end the URL with a trailing slash. I know the server answers the same way to requests with and without a trailing slash (and that is good), but I would like to *always* show the trailing slash in the `self` link when referring to collections.

The spec doesn't touch this point, but I believe the `self` link should always be the same for the same resource. Right now it

[2018-04-06 10:01] pmcnr-hx commented on #391
I agree with being consistent, and I also prefer the trailing backslash as a best practice. We will get round to addressing this at some point, but if you're willing to submit a PR to fix it we'll be very happy to review and merge it.

[2018-04-06 10:02] pmcnr-hx commented on #389
Indeed! `concat` doesn't mutate it's argument. Will fix. Thanks for reporting!

[2018-04-06 10:04] pmcnr-hx commented on #387
That sound like a very reasonable extension @BryanHunt. We'll be happy to merge support for it if you submit a PR.

[2018-04-10 13:37] arunas-smala opened #394 "What to do with non-resource responses?"
I already asked it on stackoverflow: https://stackoverflow.com/questions/49754327/json-api-for-non-resource-responses

But I use `jsonapi-server` for my backend so I think you guys should know answer also..

**What to do with endpoints which are not about resources and does not have ID?**

For example, in our application, there is an endpoint `http://example.com/stats` which should return stats of

[2018-04-11 04:52] thejones opened #395 "Migrating Question."
Following the, Migrating towards jsonapi-server from ExpressJS,  I have a mock up of some resources and I am curious how I can access the "main" express application. Specifically I have Express & JWT working using https://github.com/auth0/express-jwt which sets req.user for me. For migrating I was hopeful that my new routes could go through my existing middleware stack `app.use()` functions and I

[2018-04-11 06:13] arunas-smala commented on #394
I need to read specification again :) I think I got the idea

[2018-04-11 06:13] #394 closed, assigned to nobody

[2018-04-15 08:45] paparomeo commented on #394
Glad you figured it out @arunas-smala!

[2018-04-25 09:16] ephrin opened #400 "question: immutable resources"
Is there a way to define immutable resources or disable methods [PUT, PATCH, DELETE] so they will not appear in generated documentation and other parts of app?

Thanks.

[2018-04-25 09:46] championswimmer commented on #400
Create error generating handlers `beforeUpdate`, `beforeDelete` ...

[2018-04-27 12:06] greenkeeper[bot] opened #402 "Version 10 of node.js has been released"
## Version 10 of Node.js (code name Dubnium) has been released! 🎊

To see what happens to your code in Node.js 10, Greenkeeper has created a branch with the following changes:
- Added the new Node.js version to your `.travis.yml`
- The new Node.js version is in-range for the engines in 1 of your `package.json` files, so that was left alone

If you’re interested in upgrading this repo to Node.js 10

[2018-04-30 20:34] paparomeo commented on #395
Hi @thejones. Apologies for the late reply. Is this something you're still looking into? I should have time this weekend to investigate this for you.

[2018-05-03 14:54] PieterJanVdb opened #404 "Removing a to one relationship using PATCH as to the spec errors out"
Removing a relationship using PATCH as the spec defines [here](http://jsonapi.org/format/#crud-updating-to-one-relationships) returns the following error:

[code]
This happens because for this [route](https://github.com/holidayextras/jsonapi-server/blob/master/lib/routes/updateRelation.js), it checks if the `data` property of the body is either an object or an array, and errors out otherwise.

How

[2018-05-04 10:46] gboston commented on #372
We would also like to validate nested objects but this isn't possible at the moment?

[2018-05-04 10:47] championswimmer commented on #372
You can validate via Joi

[2018-05-04 10:48] gboston commented on #350
When is the switch to OpenAPI 3.0 planned? I know the support is limited at the moment....

[2018-05-04 11:23] gboston commented on #372
Mistakenly used .valid() instead of .items() for validating objects within an array. It's working now 👍

[2018-05-04 12:24] PieterJanVdb opened #405 "Public API for config of a resource"
Are there any future plans to expose a public API for the config of a resource. Eg. so you can get the relationships of a resource from the schema to cascade delete without having to hardcode that somewhere in your app. Or knowing which fields are required for any additional business logic.

It's possible to achieve this by using the resourceConfig and its private properties but I assume this isn'

[2018-05-08 17:51] championswimmer opened #407 "info: I am maintaining a fork at `@jagql/framework`"
## Information
Package: https://npmjs.com/@jagql/framework
Repo: https://github.com/jagql/framework

## Motivation

I have been using jsonapi-server in my projects for quite some time now.
While I have **huge, huge** respect for everyone from holidayextras who has worked hard and made this great project possible, I think recently, there has been a bit of slowdown.
There are many features and issue

[2018-05-08 17:57] championswimmer commented on #407
cc @slickmb @wolfgang42
Many of the PRs I have cherry picked that were unmerged here were from you.
I would like to thank you guys for those PRs ❤️

[2018-05-08 18:31] paparomeo commented on #407
Thanks for reaching out @championswimmer. I'm going to consult internally about the possibility of handing over the maintenance of the project to you.

[2018-05-24 15:56] toddiuszho commented on #283
With MongoDB 3.6, was able to use the new `UUID()` in my mongo shell scripts like so:

[code]

[2018-07-02 22:21] becauseinterwebs opened #416 "Errors defining resource relationships"
Hello,

I have two tables, Table1 and Table2.  Table1 can have many children from Table2, and Table2 only has one parent.

According to the documentation, I have my schemas setup like this:

/* Table1 */
....,
attributes: {
    id: jsonApi.Joi.number(),
    name: jsonApi.Joi.string(),
    child: jsonApi.Joi.belongsToMany({
          resource: "Table2",
          as: "parent"
    })
}

/* Table2 */

[2018-07-07 11:31] Redsandro commented on #407
I'm split between two worlds. @championswimmer included some interesting features, but the version here has support for mongodb.

[2018-07-08 22:50] Redsandro commented on #248
@adamlc @Aaronfischer any update on this?

[2018-07-08 23:05] aaronfischer commented on #248
@redsandro I’m a bit unfamiliar with this at the moment, but here is my forked branch: https://github.com/Aaronfischer/jsonapi-server/commit/b6e4581ee5a9f24ebfd9c1ae2485a704023021d3

[2018-07-09 07:15] adamlc commented on #248
@Redsandro this isn't something I really work on any more I'm afraid.

[2018-07-09 16:00] Redsandro commented on #248
Thanks for the update, guys.

[2018-07-09 22:56] Redsandro opened #418 "Cannot change limit of `include`d items"
When requesting a resource, we can include it's relationships for client-side model postprocessing by using the querystring `?include=`:

[code]

However, if we want to load 60 tokens for a single resource, the application breaks because jsonapi-server hard-limits the included items to 50.

I tried doing this:

[code]

But I'm still only getting 50.

I reckon this should be:

1. Configurable in `j

[2018-07-17 11:37] Redsandro commented on #418
I think we need to forward the pagination request params somewhere, but I am not sure where.

Or add a new parameter `page[includelimit]`, but then we'd still need to forward the request params to the internal include fetch function.

* [pagination.js](https://github.com/holidayextras/jsonapi-server/blob/b11f3a82cf08d056d0473637d7cecbc6ed8c2a91/lib/pagination.js)
* [include.js](https://github.com/

[2018-08-08 10:08] championswimmer commented on #407
As an update I have set up docs for the fork here https://jagql.github.io/docs/
(using a lot of markdown files from this repo itself). It is a bit more accessible and readable than those here

[2018-08-08 20:03] dorothythurston commented on #377
@Aaronfischer I found looking at the examples in the actual memory handler to be some what helpful... for example when i was trying to understand how to return the totalCount in the meta for search results i looked here... https://github.com/holidayextras/jsonapi-server/blob/master/lib/MemoryHandler.js#L29 but I do agree that it is slightly confusing to be new to this library and not have specific

[2018-10-29 16:11] invious opened #425 "node-pre-gyp ERR!"
Tried to run
[code]

and saw these errors:

[code]

[2018-10-31 11:24] championswimmer commented on #425
Are you on Mac? If yes

[code]
will work

[2019-04-03 14:59] ghost opened #429 "How could unit tests be done?"
Hello,

I'm pretty new to this library. Can someone take a little time and tell more how unit tests for the api could be done with which libraries?

thanks

[2019-04-03 19:48] #429 closed, assigned to nobody

[2019-04-04 12:11] ghost opened #430 "Item in response does not validate"
## How to reproduce:
Make a simple POST to create a data sample but don't include the attribute "type":

[code]

The body of the request is not valid, but it will not be discarded and persisted anyway. As response I will get:

[code]

If I request all items of the relation with a GET, I will get the same error.

[code]

## Expected Behavior

If the payload doesn't validate, the item should be disg

[2019-04-16 21:01] twss opened #431 "Right way, if any, to break/shortcircuit a chain handler and return earlier."
Given I have a chain handler:

[code]

and the normal flow would be:

[code]

What would be the correct way to terminate early and only do:

[code]

[2019-06-04 20:59] #222 closed

[2019-10-14 00:12] queenvictoria commented on #418
See https://github.com/holidayextras/jsonapi-server/issues/260 for a solution if you've rolled your own handler.

[2019-10-14 01:40] Redsandro commented on #418
Thank you @queenvictoria. This is an awesome project which I used in the past. However certain unaddressed issues (like this one or [that one](https://github.com/holidayextras/jsonapi-store-mongodb/issues/57)) and the stalled development caused me to move on from `jsonapi-server`.

There was a [fork called `jagql`](https://github.com/holidayextras/jsonapi-server/issues/407) but I think it might be

[2020-02-20 17:45] dougmolineux opened #436 "Each redeploy wipes the database"
Hi there!

Thank you for this project, it appears that each time I redeploy my code, something is wiping my database clean.

I thought I had found the part of my code that was doing this:
[code]
However, I took this code out and it's still happening. What am I doing wrong here?

Thanks again,
Doug

[2020-03-22 17:34] remyb-dev opened #438 "Contribution needed ?"
Hello,

I use this project since few years (thank you for the good job) for some production API.
I see pull requests that should be very nice to accept but no merge activity for a long time and no new version published into the npm repo.

Is it possible to have some rights on this project to help you doing this job ?
If maintainer activity is back i should also try to resolve some issues.

[2020-04-10 01:31] championswimmer commented on #438
Please help out on https://github.com/jagql/framework instead. This project is unmaintained

[2020-04-11 08:22] remyb-dev commented on #438
Nice, i'll take a look and try to use your version in my projects.
If your fork remain active i'll probably help you and contribute.

[2020-09-02 06:16] lamualfa opened #439 "[Attention] - This project is unmaintened. Please use JagQL (the fork from this repository) instead."
[JagQL](https://github.com/jagql/framework) is a fork of [holidayextras/jsonapi-server](https://github.com/holidayextras/jsonapi-server) We have merged a lot of pending PRs on the original repo that we felt we would gain advantage from. The original project was coing a bit too slowly for our needs.

Please visit the JagQL repository at https://github.com/jagql/framework.

Thanks to @holidayextras

[2020-09-02 12:57] HTeker commented on #425
@invious try using version 8 of Node.js

`nvm install 8.17.0`
`nvm use 8.17.0`

[2021-04-25 01:33] promikhail opened #440 "Npm install warns. High severity vulnerabilities"
Node ver 16
On first install got warnings

[code]

[2022-04-13 17:32] #416 closed, assigned to nobody